name: assets_and_images
description: An example project showing how to declare and load assets.
publish_to: none

environment:
  sdk: ^3.3.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter
    
flutter:
  uses-material-design: true
  
  assets:
    - assets/my_icon.png
    - assets/background.png
