.post-content img.comp-img, .comp-entry svg {
  width: 150px;
  float: left;
  margin: 0px 15px 0px 0px;
}

div.comp-entry, div.catalog-end, h2 {
  clear: both;
}

div.catalog-end {
  padding-top: 50px
}
