---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Roboto, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0091ea;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color:    #01579b;
$nav-text-color:   white;

// Width of the content area
$content-width:    980px;

$on-palm:          640px;
$on-laptop:        980px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "fix_custom_search_results",
        "layout",
        "header",
        "customstyles",
        "sidebar",
        "tutorial",
        "prism",
        "prism_overrides",
        "code_pre",
        "catalog",
        "homepage",
        "responsive_embeds",
        "tabs",
        "archive"
;

aside > :not(pre) > code[class*="language-"], aside > pre[class*="language-"] {
    background: inherit;
}

@media print {
    /* Don't display header, footer, sidenav when printing */
    #side-nav-container, .site-header, .site-footer, .contribute {
        display:none;
    }

    /* Use the whole page */
    .main-contents, .container-fluid {
        width: auto;
        margin: 0;
        padding: 1em;
    }

    /* Because we have some long code samples, allow page breaks within them */
    pre {
      page-break-inside: auto;
    }

    /* Remove link path */
    a:after {
        content: none !important;
    }
}
