name: native_debugging
description: Demonstration of native code debugging
sdk: ^3.6.0-0

version: 1.0.0+1

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  url_launcher: ^6.2.4

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
