#resource-index-content {
  display: flex;
  flex-direction: row;

  .left-col {
    margin-right: 1rem;
    flex: 2;
  }

  .right-col {
    width: 220px;
    @media (max-width: 840px) {
      position: fixed;
      // height of navbar
      top: 4rem;
      bottom: 0;
      right: -10rem;
      background-color: var(--site-inset-bgColor);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0.4rem;
      width: max-content;

      @keyframes slidein {
        0% {
          right: -10rem;
        }
        100% {
          right: 0;
        }
      }

      &.show {
        animation-duration: 500ms;
        animation-delay: 200ms;
        animation-name: slidein;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
    }
  }
}

#resource-filter-group {
  border: 1px solid rgba(0,0,0,.25);

  @media (max-width: 840px) {
    border-bottom: none;
  }

  .table-title {
    text-align: center;
    color: rgba(0,0,0,.5);
    font-weight: bold;
    font-size: .9rem;
    padding: .5rem;
    border-bottom: 1px solid rgba(0,0,0,.25);
  }

  .table-content {
    padding: 1rem;
  }

  ul {
    padding-left: 0;
    margin-bottom: .5rem;

    li {
      list-style: none;
      padding-left: 0;

      label {
        font-size: .9rem;
      }
    }
  }

  h4 {
    margin: 0 0 .5rem;
    padding: 0;
  }

  button {
    color: var(--site-link-fgColor);
    margin: 0 0 2rem;
    padding: .5rem 0 1rem 1rem;
  }

  button:hover {
    color: var(--site-onPrimary-color);
  }

  .hidden {
    display: none;
  }

}

#resource-search-group {
  display: flex;
  flex-direction: column;

  .top-row {
    display: flex;

    .search-wrapper {
      display: flex;
      align-items: center;

      width: 100%;
      background-color: white;

      border: 1px solid rgba(0, 0, 0, .25);
      border-radius: 2rem;
      height: 3rem;
      padding: 0 .5rem;

      &:has(:focus-visible) {
        outline: 2px solid var(--site-card-borderColor);
        border-color: transparent;
      }

      .leading-icon {
        padding-left: 0.25rem;
        user-select: none;
      }

      input {
        background: white;
        width: 100%;
        font-size: 1rem;
        cursor: text;

        &:focus {
          outline: none;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }
      }
    }

    button.show-filters-button {
      padding: 1rem;
      @media (min-width: 840px) {
        display: none;
      }
    }
  }

  .label-row {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;

    label {
      color: var(--site-base-fgColor-alt);

      padding: .25rem 1rem 0 0;
      margin: 0;
      text-align: end;
    }

    button {
      padding: .25rem;
      color: var(--site-primary-color);
      display: flex;
      align-items: center;
    }
    button:hover {
      color: var(--site-onPrimary-color);
    }
  }
}

.resource-index-icon {
  color: #000000;
}


#all-resources-grid {
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: minmax(250px, 1fr);

  .card {
    &:hover {
      box-shadow: 0px 0px 20px -5px var(--site-card-onHover-boxShadow-color);
      background-image: none;
      transition: .25s ease;
    }

    .card-leading {
      background-color: var(--site-onPrimary-color-lighter);
      justify-content: space-between !important;
      margin: -1rem;
      padding: 1rem 1rem .5rem;
    }

    .card-title {
      margin-top: 1rem;
    }
  }
}