#site-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 6rem);
  text-align: center;
  padding: 1rem;

  img {
    max-width: 40rem;
  }

  p {
    font-size: 1.25rem;
    margin: 0 1rem 1rem;
    max-width: 30rem;
  }

  ul {
    font-size: 1.25rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    text-align: left;
    white-space: nowrap;
    padding: 0.5rem;
    margin-bottom: 0;

    @media(max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
