@use '../base/variables' as *;

#samples-filter-group {
  width: 100%;
  display: flex;
  flex-direction: row;

  .search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;

    .search-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: white;

      border: 1px solid rgba(0, 0, 0, .25);
      border-radius: 2rem;
      height: 3rem;
      padding: 0 .5rem;

      &:has(:focus-visible) {
        outline: 2px solid var(--focus-outline-color);
        border-color: transparent;
      }

      .leading-icon {
        padding-left: 0.25rem;
        user-select: none;
      }

      input {
        background: white;
        width: 100%;
        font-size: 1rem;
        cursor: text;

        &:focus {
          outline: none;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }
      }
    }
  }
}

#all-samples-grid {
  .card {
    &:hover {
      box-shadow: 0px 0px 20px -5px $site-color-light-grey;
      background-image: none;
      transition: .25s ease;
    }

    .card-leading {
      background-color: $flutter-color-light-blue;
      justify-content: space-between !important;
      margin: -1rem;
      padding: 1rem 1rem .5rem;
    }

    .card-title {
      margin-top: 1rem;
    }
  }
}