name: key_value
description: Key value

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.5

dev_dependencies:
  pedantic: ^1.11.0

flutter:
  uses-material-design: true
