name: layout
description: >
  Sample app from "Building Layouts", https://docs.flutter.dev/development/ui/layout.
version: 1.0.0

environment:
  sdk: ^3.0.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
