name: actions_and_shortcuts
description: Sample actions and shortcuts code.
publish_to: none

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
