{% if page.show_banner -%}
  <!--{% assign fl_url = '/jobs/infrastructure' -%}-->
  {% assign fl_url = '/create' -%}
  <div class="site-banner site-banner--default" role="alert">
    {% comment %} For headings use <h3> elements. {% endcomment -%}
<!--
    <p>
      We are looking for a Flutter Infrastructure engineer!
      <a href="{{fl_url}}" target="_blank" rel="noopener">Learn more</a>.
    </p> -->
      Flutter 1.5 is live! See all of the Google I/O announcements
      on the
      <a href="https://developers.googleblog.com/2019/05/Flutter-io19.html"
         target="_blank">Google Developers blog</a>.
<!--
      <br/>
      <br/>
      Flutter Create results are in!
      <a href="{{fl_url}}" target="_blank" rel="noopener">Find out more</a>.
      Congrats to all! -->
    </p>
    <p>
      Help improve Flutter! Take our 
      <a href="https://google.qualtrics.com/jfe/form/SV_3W3aVD2y9CoAe6V?Source=Website">survey</a>.
    </p>
  </div>
{% endif -%}
