{% comment %}
Embeds breadcrumb RDFa, follows ARIA guidelines. References:
- https://developers.google.com/search/docs/data-types/breadcrumb
- https://schema.org/BreadcrumbList
- https://www.w3.org/TR/wai-aria-practices/examples/breadcrumb/index.html
- https://search.google.com/structured-data/testing-tool
{% endcomment %}

{% assign url = page.url | regex_replace: '/index$|/index.html$|/$' -%}

{% if url.size > 0 -%}
{% assign breadcrumbs = page | breadcrumbsForPage -%}
{% if breadcrumbs -%}
<nav class="breadcrumbs" aria-label="breadcrumb">
  <ol vocab="https://schema.org/" typeof="BreadcrumbList">
    {% for crumb in breadcrumbs -%}
    <li class="breadcrumb-item {%- if forloop.last %} active {%- endif %}"
        property="itemListElement" typeof="ListItem"
        {%- if forloop.last %} aria-current="page"{% endif %}>
      <a href="{{ crumb.url | regex_replace: '/index$|/index.html$|/$' }}" property="item" typeof="WebPage" {%- if forloop.last %} aria-disabled="true" {%- endif %}>
        <span property="name">{{crumb.title}}</span>
      </a>
      <meta property="position" content="{{forloop.index0}}" />
      {%- if not forloop.last %}
      <span class="material-symbols child-icon" aria-hidden="true">chevron_right</span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif -%}
{%- endif -%}
