<article id="cookie-notice">
  <div class="container">
    <p>Google uses cookies to deliver its services, to personalize ads, and to
      analyze traffic. You can adjust your privacy controls anytime in your
      <a href="https://myaccount.google.com/data-and-personalization" target="_blank" rel="noopener" title="Go to Google settings">Google settings</a>.
      <a href="https://policies.google.com/technologies/cookies" target="_blank" rel="noopener" title="Learn more about cookies">Learn more</a>.
    </p>
    <form>
      <label for="cookie-consent">I agree to the use of cookies:</label>
      <button id="cookie-consent" class="btn btn-primary">Okay</button>
    </form>
  </div>
</article>
