<footer id="site-footer">
  <div class="footer-section footer-main">
    <a class="brand" href="https://flutter.dev">
      <img src="/assets/images/branding/flutter/logo+text/horizontal/white.svg" alt="Flutter logo" width="164">
    </a>
    <div class="footer-social-links">
      <a class="icon-button" href="https://blog.flutter.dev" target="_blank" rel="noopener" title="Flutter's Medium blog">
        <svg><use href="/assets/images/social/medium.svg#medium"></use></svg>
      </a>
      <a class="icon-button" href="https://youtube.com/@flutterdev" target="_blank" rel="noopener" title="Flutter's YouTube">
        <svg><use href="/assets/images/social/youtube.svg#youtube"></use></svg>
      </a>
      <a class="icon-button" href="https://github.com/flutter" target="_blank" rel="noopener" title="Flutter's GitHub">
        <svg><use href="/assets/images/social/github.svg#github"></use></svg>
      </a>
      <a class="icon-button" href="https://bsky.app/profile/flutter.dev" target="_blank" rel="noopener" title="Flutter's Bluesky">
        <svg><use href="/assets/images/social/bluesky.svg#bluesky"></use></svg>
      </a>
      <a class="icon-button" href="https://twitter.com/FlutterDev" target="_blank" rel="noopener" title="Flutter's X (Twitter)">
        <svg><use href="/assets/images/social/x.svg#x"></use></svg>
      </a>
    </div>
  </div>
  <div class="footer-section footer-tray">
    <div class="footer-licenses">
      Except as otherwise noted, this site is licensed under a
      <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>,
      and code samples are licensed under the
      <a href="https://opensource.org/licenses/BSD-3-Clause">3-Clause BSD License</a>.
    </div>
    <div class="footer-utility-links">
      <ul>
        <li><a href="/tos" title="Terms of use">Terms</a></li>
        <li><a href="/brand" title="Brand usage guidelines">Brand</a></li>
        <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Privacy policy">Privacy</a></li>
        <li><a href="/security" title="Security philosophy and practices">Security</a></li>
      </ul>
    </div>
  </div>
</footer>
