<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/images/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="https://groups.google.com/forum/#!forum/flutter-dev">{{ site.email  | regex_replace: '(.*?@).*', '\1' }}</a></li>
              <li><a href="/tos">terms</a></li>
              <li><a href="/brand">brand usage</a></li>
              <li><a href="/security">security</a></li>
              <li><a href="https://www.google.com/intl/en/policies/privacy">privacy</a></li>
              <li><a href="https://esflutter.dev/">español</a></li>
              <li><a href="https://flutter.cn" class="text-nowrap">社区中文资源</a></li> 
              <li><a href="https://flutter-ko.dev/" class="text-nowrap">한국어</a></li>
              <li><a href="https://blog.google/inside-google/company-announcements/standing-with-black-community">We stand in solidarity with the Black community. Black Lives Matter.</a></li>
          </ul>

          <p class="licenses">
            Except as otherwise noted,
            this work is licensed under a
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0">Creative
            Commons Attribution 4.0 International License</a>,
            and code samples are licensed under the BSD License.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
