{% assign route = page.url|regex_replace:'/index$|/index\.html$|\.html$|/$' %}

<header class="site-header">
  <a href="#document-title" id="skip-to-main" class="filled-button">
    Skip to main content
  </a>
  <nav class="navbar">
    <div id="site-switcher" class="dropdown">
      <button class="dropdown-button site-wordmark" aria-expanded="false" aria-controls="site-switcher-menu" aria-label="Switch between Flutter and Dart sites">
        <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter logo" width="28">
        <span>Flutter</span>
        <span class="subtype">Docs</span>
        <span class="material-symbols" aria-hidden="true">unfold_more</span>
      </button>
      <div class="dropdown-content" id="site-switcher-menu">
        <nav class="dropdown-menu" role="menu">
          <ul>
            <li role="presentation"><a href="{{site.main-url}}" class="site-wordmark" role="menuitem" title="Flutter homepage" aria-label="Go to the Flutter homepage">
              <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter logo" width="28">
              <span>Flutter</span>
            </a></li>
            <li role="presentation"><a href="/" class="site-wordmark current-site" role="menuitem"  aria-current="true" title="Flutter docs homepage" aria-label="Go to the Flutter docs homepage">
              <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter logo" width="28">
              <span>Flutter</span>
              <span class="subtype">Docs</span>
            </a></li>
            <li role="presentation"><a href="{{site.api}}" class="site-wordmark" role="menuitem"  title="Flutter API reference" aria-label="Go to the Flutter API reference">
              <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter logo" width="28">
              <span>Flutter</span>
              <span class="subtype">API</span>
            </a></li>
            <li aria-hidden="true" class="dropdown-divider" role="separator"></li>
            <li role="presentation"><a href="{{site.dart-site}}" class="site-wordmark" role="menuitem"  title="Dart homepage" aria-label="Go to the Dart homepage">
              <img src="/assets/images/branding/dart/logo.svg" alt="Dart logo" width="28" height="28">
              <span>Dart</span>
            </a></li>
            <li role="presentation"><a href="{{site.dartpad}}" class="site-wordmark" role="menuitem"  title="DartPad playground" aria-label="Go to the DartPad playground">
              <img src="/assets/images/branding/dart/logo.svg" alt="Dart logo" width="28" height="28">
              <span>DartPad</span>
            </a></li>
            <li role="presentation"><a href="{{site.pub}}" class="site-wordmark" role="menuitem" title="pub.dev homepage" aria-label="Go to the pub.dev homepage">
              <img src="/assets/images/branding/dart/logo.svg" alt="Dart logo" width="28" height="28">
              <span>pub.dev</span>
            </a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="navbar-contents">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{site.main-url}}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.main-url}}/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.pub}}">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.api}}">API reference</a>
        </li>
      </ul>
      <form action="/search/" class="site-header__search">
        <input
          class="site-header__searchfield search-field"
          type="search" name="q" id="q" autocomplete="off"
          placeholder="Search" aria-label="Search">
      </form>
      <a href="/search" id="fallback-search-button" class="icon-button" aria-label="Navigate to the docs search page." title="Navigate to the docs search page.">
        <span class="material-symbols" aria-hidden="true">search</span>
      </a>
      <a id="call-to-action" class="filled-button" href="/get-started/install/">Get started</a>
      <button
          id="menu-toggle"
          class="icon-button"
          type="button"
          aria-controls="sidenav"
          aria-label="Toggle navigation"
          title="Toggle navigation">
        <span class="material-symbols" aria-hidden="true">menu</span>
      </button>
    </div>
  </nav>
</header>
