{% assign route = page.url|regex_replace:'/index$|/index\.html$|\.html$|/$' %}

<header class="site-header">
  <a href="#document-title" id="skip-to-main" class="filled-button">
    Skip to main content
  </a>
  <nav class="navbar">
    <button
      id="menu-toggle"
      class="icon-button"
      type="button"
      aria-controls="sidenav"
      aria-label="Toggle navigation"
      title="Toggle navigation">
      <span class="material-symbols" aria-hidden="true">menu</span>
    </button>

    <a class="navbar-brand" href="/">
      <img
        src='/assets/images/branding/flutter/logo+text/horizontal/default.svg'
        alt='Flutter logo'
        height="37"
        width="129">
    </a>

    <div class="navbar-contents">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{site.main-url}}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.pub}}">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.api}}">API reference</a>
        </li>
      </ul>
      <form action="/search/" class="site-header__search">
        <input
          class="site-header__searchfield search-field"
          type="search" name="q" id="q" autocomplete="off"
          placeholder="Search" aria-label="Search">
      </form>
      <a href="/search" id="fallback-search-button" class="icon-button" aria-label="Navigate to the docs search page." title="Navigate to the docs search page.">
        <span class="material-symbols" aria-hidden="true">search</span>
      </a>
      <a id="call-to-action" class="filled-button" href="/get-started/install/">Get started</a>
    </div>
  </nav>
</header>
