{% comment %} All main nav items excluding the Flutter brand item. {% endcomment -%}

<a class="{{include.class}}" href="/docs">Docs</a>
<a class="{{include.class}}" href="/showcase">Showcase</a>
<a class="{{include.class}}" href="{{site.repo.flutter}}">GitHub</a>
<a class="{{include.class}}" href="{{site.pub}}/flutter">Packages</a>
<a class="{{include.class}}" href="/support">Support</a>
<form action="/search/" class="{{include.class}} form-inline" id="cse-search-box">
  <input type="hidden" name="cx" value="007067728241810524621:gm6vraqlc8c">
  <input type="hidden" name="ie" value="UTF-8">
  <input type="hidden" name="hl" value="en">
  <input type="search" name="q" id="q" autocomplete="off" class="form-control" placeholder="Search">
</form>
