{% if next or prev -%}
  {% if next and prev -%}
    {% assign nav_class = 'site-nextprev-nav' -%}
  {% else -%}
    {% assign nav_class = 'site-nextprev-nav__single' -%}
  {% endif -%}
  <nav id="site-prev-next">
    {% if prev.path -%}
    <a class="prev" href="{{ prev.path }}">
      <span class="material-symbols" aria-hidden="true">chevron_left</span>
      <div>
        <span>Previous</span>
        <span>{{ prev.title}}</span>
      </div>
    </a>
    {% endif -%}
    {% if next.path -%}
    <a class="next" href="{{ next.path }}">
      <div>
        <span>Next</span>
        <span>{{ next.title}}</span>
      </div>
      <span class="material-symbols" aria-hidden="true">chevron_right</span>
    </a>
    {% endif -%}
  </nav>
{% endif -%}
