{% assign repo = repo | default: site.repo.this -%}
{% capture pageSource -%} {{repo}}/tree/{{site.branch}}/{{page.inputPath | replace: './', ''}} {%- endcapture -%}
{% assign siteTitle = title | default: page.url | escape -%}
{% assign url = site.url | append: page.url -%}

<p id="page-github-links">
  <span>Unless stated otherwise, the documentation on this site reflects the latest stable version of Flutter. Page last updated on {{page.date | toSimpleDate}}.</span>
  <a href="{{pageSource}}" target="_blank" rel="noopener">View source</a>
  <span> or </span>
  <a href="{{repo}}/issues/new?template=1_page_issue.yml&&page-url={{url}}&page-source={{pageSource}}" title="Report an issue with this page" target="_blank" rel="noopener">report an issue</a>.
</p>
