{% comment %}
  Strip out any trailing '/', etc. for exact URL match.
{% endcomment -%}
{% assign pageUrl = page.url | regex_replace: '/index$|/index\.html$|\.html$|/$' -%}

{% comment %}
TODO(chalin): rename link to top_level_nav_entry
{% endcomment -%}

<ul class="nav flex-column">
    {%- for link in include.list -%}

    {%- assign isActive = false -%}
    {%- if link.urlExactMatch and pageUrl == link.permalink -%}
      {%- assign isActive = true -%}
    {%- elsif link.urlExactMatch == nil and pageUrl contains link.permalink -%}
      {%- assign isActive = true -%}
    {%- endif -%}

    {% if isActive -%}
      {% assign class = 'active' -%}
    {% endif -%}

    {% if isActive or link.expanded -%}
      {% assign expanded = 'true' -%}
      {% assign show = 'show' -%}
    {% else -%}
      {% assign class = 'collapsed' -%}
      {% assign expanded = 'false' -%}
      {% assign show = '' -%}
    {% endif -%}

    {% assign id = 'side-bar-' | append: forloop.index -%}

    <li class="nav-item">
      <a class="nav-link {{class}}" data-toggle="collapse" href="#{{id}}" role="button"
        aria-expanded="{{expanded}}" aria-controls="{{id}}"
      >{{link.title}}</a>

      <ul class="nav flex-column flex-nowrap collapse {{show}}" id="{{id}}">
        {% for child in link.children -%}
          {% comment %}
            TODO: rename dropdown to hasChildren
          {% endcomment -%}
          {% capture dropdown %}{{ child.children | size }}{% endcapture -%}
          {% if child == 'divider' -%}
            <div class="dropdown-divider"></div>
          {%- elsif dropdown == '0' -%}
            {%- capture startsWithChildLink %}^{{ child.permalink }}{% endcapture -%}
            {%- capture url %}{{ page.url | regex_replace: '/index$|/index\.html$|\.html$|/$' }}{% endcapture -%}
            {%- capture p %}{{ pageUrl | regex_replace: startsWithChildLink }}{% endcapture -%}
            {%- assign isActive = false -%}
            {%- if child.urlExactMatch and child.permalink == url -%}
              {%- assign isActive = true -%}
            {%- elsif child.urlExactMatch == nil and url != p -%}
              {%- assign isActive = true -%}
            {%- endif -%}
            <li class="nav-item">
              <a class="nav-link
                  {%- if isActive %} active{% endif -%}
                  {%- unless child.permalink %} disabled{% endunless -%}
                  "
                {% if child.permalink -%}
                  href="{{child.permalink}}"
                {% endif -%}
                {% comment %}
                  TODO: add title?
                  title="{{child.title}}"
                {% endcomment -%}
              >{{child.title}}</a>
            </li>
          {%- else -%}
            {% assign isActive = false %}
            {% if page.sideNavGroup and page.sideNavGroup == child.sideNavGroup %}
              {% assign isActive = true %}
            {% elsif page.url contains child.permalink and child.sideNavGroup != 'basic' %}
              {% assign isActive = true %}
            {% endif %}
            <li class="nav-item">
              <a class="nav-link
                  {%- if isActive %} active{% endif -%}
                  {%- unless child.permalink %} disabled{% endunless -%}
                  "
                {% if child.permalink -%}
                  href="{{child.permalink}}"
                {% endif -%}
                {% comment %}
                  TODO: add title?
                  title="{{child.title}}"
                {% endcomment -%}
              >{{child.title}}</a>
              {% comment %}
                TODO: also make this a collapsable entry?
              {% endcomment -%}
              <ul class="nav d-block">
                {%- for c in child.children -%}
                  {%- assign isActive = false -%}
                  {%- if c.urlExactMatch and pageUrl == c.permalink -%}
                    {%- assign isActive = true -%}
                  {%- elsif c.urlExactMatch == nil and pageUrl contains c.permalink -%}
                    {%- assign isActive = true -%}
                  {%- endif -%}
                  <li class="nav-item">
                    <a class="nav-link
                        {%- if isActive %} active{% endif %}
                        {%- unless c.permalink %} disabled{% endunless -%}
                        "
                        {% if c.permalink -%}
                          href="{{c.permalink}}"
                        {% endif -%}
                        {% comment %}
                          TODO: add title?
                          title="{{c.title}}"
                        {% endcomment -%}
                      >{{c.title}}</a>
                  </li>
                {%- endfor %}
              </ul>
          {%- endif -%}
        {%- endfor %}
      </ul>
    </li>
  {%- endfor -%}
</ul>
