{% for entry3 in entry2.children -%}

{% assign class3 = 'nav-link' -%}
{% assign isActive3 = false -%}
{% if isActive2 and forloop.index == active_entries[2] -%}
  {% assign isActive3 = true -%}
  {% assign class3 = class3 | append: ' active' -%}
{% endif -%}

{% if entry3 == 'divider' -%}

  <div class="dropdown-divider"></div>

{%- elsif entry3.children == nil and entry3.permalink or show_entries_wo_pages -%}

  <li class="nav-item">
    <a class="{{class3}} {%- unless entry3.permalink %} disabled {%- endunless %}"
      {%- if entry3.permalink %} href="{{entry3.permalink}}" {%- endif -%}
      {%- if entry3.permalink contains '://' %} target="_blank" rel="noopener" {%- endif -%}
    >{{entry3.title}}
    {%- if entry3.permalink == nil %} (TBC)
    {%- elsif entry3.permalink contains '://' -%}
      <span class="material-icons md-24">
        open_in_new
      </span>
    {%- endif -%}
    </a>
  </li>

{%- elsif entry3.children -%}

  {% assign class3 = class3 | append: ' collapsable' -%}

  {% if isActive3 or entry3.expanded -%}
    {% assign expanded = 'true' -%}
    {% assign show = 'show' -%}
  {% else -%}
    {% assign class3 = class3 | append: ' collapsed' -%}
    {% assign expanded = 'false' -%}
    {% assign show = '' -%}
  {% endif -%}

  {% assign id3 = id2 | append: '-' | append: forloop.index -%}
  {% assign href = entry3.permalink -%}
  {% unless href -%}
    {% assign href = '#' | append: id3 -%}
  {% endunless -%}

  <li class="nav-item">
    <a class="{{class3}}"
      data-toggle="collapse" data-target="#{{id3}}"
      href="{{href}}" role="button"
      aria-expanded="{{expanded}}" aria-controls="{{id3}}"
    >{{entry3.title}}
    </a>
    <ul class="nav flex-column flex-nowrap collapse {{show}}" id="{{id3}}">
      {% include sidenav-level-4.html -%}
    </ul>
  </li>
{% endif -%}
{% endfor -%}
