{% if tocContents.count > 1 -%}
<div id="site-toc--side" class="site-toc">
  <header class="site-toc__title">
    Contents
  </header>
  <ul class="section-nav">
    {% for topLevel in tocContents.toc %}
    <li class="toc-entry nav-item toc-h2">
      <a class="nav-link" href="{{topLevel.id}}">{{topLevel.text}}</a>
      {% if topLevel.children and topLevel.children.size > 0 %}
      <ul class="nav">
        {% for child in topLevel.children %}
        <li class="toc-entry nav-item toc-h3">
          <a class="nav-link" href="{{child.id}}">{{child.text}}</a>
        </li>
        {% endfor -%}
      </ul>
      {% endif -%}
    </li>
    {% endfor -%}
  </ul>
</div>
{% endif -%}
