{% for entry4 in entry3.children -%}
  {% if entry4.permalink or show_entries_wo_pages -%}

  {% assign class4 = 'nav-link' -%}
  {% assign isActive4 = false -%}
  {% if isActive3 and forloop.index == active_entries[3] -%}
    {% assign isActive4 = true -%}
    {% assign class4 = class4 | append: ' active' -%}
  {% endif -%}

  <li class="nav-item">
    <a class="{{class4}} {%- unless entry4.permalink %} disabled {%- endunless %}"
      {%- if entry4.permalink %} href="{{entry4.permalink}}" {%- endif -%}
      {%- if entry4.permalink contains '://' %} target="_blank" rel="noopener" {%- endif -%}
    >{{entry4.title}}
      {%- if entry4.permalink == nil %} (TBC)
      {%- elsif entry4.permalink contains '://' -%}
        <span class="material-icons md-24">
          open_in_new
        </span>
      {%- endif -%}
    </a>
  </li>
  {% endif -%}
{% endfor -%}
