<ul class="nav flex-column flex-nowrap collapse {{show}}" id="{{id2}}">
  {%- for entry3 in entry2.children -%}

    {% assign class3 = 'nav-link' -%}
    {% assign isActive3 = false -%}
    {% if isActive2 and forloop.index == active_entries[2] -%}
      {% assign isActive3 = true -%}
      {% assign class3 = class3 | append: ' active' -%}
    {% endif -%}

    <li class="nav-item">
      <a class="{{class3}} {%- unless entry3.permalink %} disabled {%- endunless %}"
          {% if entry3.permalink -%}
            href="{{entry3.permalink}}"
          {% endif -%}
        >{{entry3.title}}
        {%- if entry3.permalink == nil -%}
          (TBC)
        {%- elsif entry3.permalink contains '://' -%}
          <i class="fas fa-external-link-alt external"></i>
        {%- endif -%}
        </a>
    </li>
  {%- endfor %}
</ul>