{% for entry2 in entry1.children -%}

{% assign class2 = 'nav-link' -%}
{% assign isActive2 = false -%}
{% if isActive1 and forloop.index == active_entries[1] -%}
  {% assign isActive2 = true -%}
  {% assign class2 = class2 | append: ' active' -%}
{% endif -%}

{% if entry2 == 'divider' -%}

  <div class="dropdown-divider"></div>

{%- elsif entry2.children == nil and entry2.permalink or show_entries_wo_pages -%}

  <li class="nav-item">
    <a class="{{class2}} {%- unless entry2.permalink %} disabled {%- endunless %}"
      {%- if entry2.permalink %} href="{{entry2.permalink}}" {%- endif -%}
      {%- if entry2.permalink contains '://' %} target="_blank" rel="noopener" {%- endif -%}
    >{{entry2.title}}
    {%- if entry2.permalink == nil %} (TBC)
    {%- elsif entry2.permalink contains '://' -%}
      <span class="material-icons md-24">
        open_in_new
      </span>
    {%- endif -%}
    </a>
  </li>

{%- elsif entry2.children -%}

  {% assign class2 = class2 | append: ' collapsable' -%}

  {% if isActive2 or entry2.expanded -%}
    {% assign expanded = 'true' -%}
    {% assign show = 'show' -%}
  {% else -%}
    {% assign class2 = class2 | append: ' collapsed' -%}
    {% assign expanded = 'false' -%}
    {% assign show = '' -%}
  {% endif -%}

  {% assign id2 = id1 | append: '-' | append: forloop.index -%}
  {% assign href = entry2.permalink -%}
  {% unless href -%}
    {% assign href = '#' | append: id2 -%}
  {% endunless -%}

  <li class="nav-item">
    <a class="{{class2}}"
      data-toggle="collapse" data-target="#{{id2}}"
      href="{{href}}" role="button"
      aria-expanded="{{expanded}}" aria-controls="{{id2}}"
    >{{entry2.title}}
    </a>
    <ul class="nav flex-column flex-nowrap collapse {{show}}" id="{{id2}}">
      {% include sidenav-level-3.html -%}
    </ul>
  </li>
{% endif -%}
{% endfor %}
