{% assign pageUrlPath = url | regexReplace: '/index$|/index\.html$|\.html$|/$' -%}
{% assign activeEntries = pageUrlPath | activeNavForPage: activeNav -%}

<nav>
<ul>
  {%- for entry in nav -%}
    {% if entry == 'divider' -%}
      <li aria-hidden="true"><div class="sidenav-divider"></div></li>
    {% elsif entry.header -%}
      <li class="nav-header">{{entry.header}}</li>
    {% else -%}
      {% assign id = 'sidenav-' | append: forloop.index -%}
      {% if forloop.index == activeEntries[0] -%}
        {% assign isActive = true -%}
        {% assign class = 'active' -%}
      {% else -%}
        {% assign isActive = false -%}
        {% assign class = '' -%}
      {% endif -%}
      {% assign startsWithEntry = pageUrlPath | startsWith: entry.permalink -%}
      {% assign hidingChildren = entry.hiddenChildren == true and not startsWithEntry -%}
      {% if entry.children and not hidingChildren -%}
        {% if isActive or entry.expanded -%}
          {% assign expanded = 'true' -%}
          {% assign show = 'show' -%}
        {% else -%}
          {% assign class = 'collapsed' -%}
          {% assign expanded = 'false' -%}
          {% assign show = '' -%}
        {% endif -%}
        <li class="nav-item">
          <button class="nav-link {{class}} collapsible" data-toggle="collapse" data-target="#{{id}}" role="button" aria-expanded="{{expanded}}" aria-controls="{{id}}">
            <span>{{entry.title}}</span>
            <span class="material-symbols expander" aria-hidden="true">expand_more</span>
          </button>
          <ul class="nav collapse {{show}}" id="{{id}}">
            {% if isActive -%}
            {%- render sidenav-level-2.html, parentId:id, children:entry.children, activeEntries:activeEntries -%}
            {% else -%}
            {%- render sidenav-level-2.html, parentId:id, children:entry.children -%}
            {% endif -%}
          </ul>
        </li>
      {%- elsif entry.permalink -%}
        {% if entry.permalink contains '://' -%}
        {% assign isExternal = true -%}
        {% else -%}
        {% assign isExternal = false -%}
        {% endif -%}
        <li class="nav-item">
          <a class="nav-link {{class}}" href="{{entry.permalink}}"
             {%- if isExternal %} target="_blank" rel="noopener" {%- endif -%}>
            <div>
              <span>{{entry.title}}</span>
              {%- if isExternal %}<span class="material-symbols" aria-hidden="true">open_in_new</span>{%- endif -%}
            </div>
          </a>
        </li>
      {% endif -%}
    {% endif -%}
  {%- endfor -%}
</ul>
</nav>
