<nav id="toc-side">
  <header>
    <span class="material-symbols" aria-hidden="true">list</span>
    <span>On this page</span>
  </header>
  <ul>
    {% for topLevel in tocContents.toc %}
    <li>
      <span class="sidenav-item"><a href="{{topLevel.id}}">{{topLevel.text}}</a></span>
      {% if topLevel.children and topLevel.children.size > 0 %}
      <ul>
        {% for child in topLevel.children %}
        <li>
          <span class="sidenav-item"><a href="{{child.id}}">{{child.text}}</a></span>
        </li>
        {% endfor -%}
      </ul>
      {% endif -%}
    </li>
    {% endfor -%}
  </ul>
</nav>
