<div id="toc-top" class="site-toc dropdown">
  <button>
    <span class="toc-intro">
      <span class="material-symbols" aria-hidden="true">list</span>
      <span>On this page</span>
    </span>
    <span class="toc-current">
      <span class="material-symbols" aria-hidden="true">chevron_right</span>
      <span id="current-header">Aligning widgets</span>
    </span>
  </button>
  <div id="toc-dropdown" class="dropdown-content show">
    <a href="#document-title">
      <span class="material-symbols" aria-hidden="true">vertical_align_top</span>
      <span>{{title}}</span>
    </a>
    <div aria-hidden="true" class="dropdown-divider" role="separator"></div>
    <nav class="" role="menu">
      {% render toc-contents.html, tocContents:tocContents %}
    </nav>
  </div>
</div>
