name: platform_integration
description: Examples for documenting platform integration.

publish_to: none

version: 1.0.0+1

environment:
  sdk: ^3.2.0

dependencies:
  flutter:
    sdk: flutter
  pigeon: ^15.0.1

  cupertino_icons: ^1.0.6

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
