name: long_lists
description: Example for long_lists cookbook recipe

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
