_site
.*-cache
.*-metadata
.DS_Store
.env
.firebase/
.idea/
.vscode/
*.log
*.swp
build
Gemfile.lock
node_modules
package-lock.json

# Dart and Flutter, build related
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
example.g
pubspec.lock
tmp/
