.DS_Store
_site
.*-cache
.*-metadata
build
.*swp
node_modules
package-lock.json

# Dart and Flutter
.flutter-plugins
.packages
.dart_tool
pubspec.lock
packages
example.g/

src/_includes/code/**/android/
src/_includes/code/**/ios/

.idea/
.firebase/

# Submodules
flutter/
site-shared/
