# @sfshaza2 is the default reviewer and triager for the repository,
# with @flutter/website-reviewers available to approve as well as a fallback.
* @flutter/website-reviewers @sfshaza2

# @abdallahshaban557 is the default reviewer for the marketing site,
# with @flutter/website-reviewers available to approve as well as a fallback.
/sites/www/ @flutter/website-reviewers @abdallahshaban557

## Notes
## --------------------------------------------------
## Default reviewer will triage to others.
## All PRs require an LGTM from a `@flutter/website-reviewers` member to land.
## Include the following reviewers on any iOS or macOS or flavors changes: @jmagman
