# Default code owners
* @flutter/website-reviewers @sfshaza2 @parlough

# Covers iOS documentation content
**/add-to-app/ios/                @flutter/website-reviewers @sfshaza2 @parlough @jmagman
**/deployment/ios.md              @flutter/website-reviewers @sfshaza2 @parlough @jmagman
**/flavors.md                     @flutter/website-reviewers @sfshaza2 @parlough @jmagman
**/flavors/                       @flutter/website-reviewers @sfshaza2 @parlough @jmagman
**/platform-integration/ios/      @flutter/website-reviewers @sfshaza2 @parlough @jmagman

# Covers macOS documentation content
**/deployment/macos.md            @flutter/website-reviewers @sfshaza2 @parlough @jmagman
**/platform-integration/macos/    @flutter/website-reviewers @sfshaza2 @parlough @jmagman
