# Default Codeowners
*  @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger

# Covers staging and deploying with Cloud Build
/cloud_build/ @parlough @khanhnwin @sfshaza2 @atsansone

# Covers all web content
/src/       @sfshaza2 @atsansone @parlough @domesticmouse @MaryaBelanger

# Covers website tooling
/tool/      @sfshaza2 @atsansone @parlough @khanhnwin @domesticmouse @MaryaBelanger

# Covers examples in files
/examples/  @sfshaza2 @domesticmouse @johnpryan @khanhnwin @parlough @MaryaBelanger @atsansone

# Covers all configuration files for the website
/*          @sfshaza2 @atsansone @parlough @khanhnwin @domesticmouse @MaryaBelanger

# Covers iOS documentation content
**/add-to-app/ios/ @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
**/deployment/ios.md @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
**/flavors.md @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
**/flavors/ @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
**/platform-integration/ios/ @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger

# Covers macOS documentation content
**/deployment/macos.md @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
**/platform-integration/macos/ @jmagman @atsansone @parlough @sfshaza2 @domesticmouse @MaryaBelanger
