name: form
description: Use Form widget to perform form validation.

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  example_utils:
    path: ../../../example_utils

flutter:
  uses-material-design: true
