@use '../base/variables' as *;

aside.alert {
  --alert-info-color: #2058b7;
  --alert-tip-color: #0c7927;
  --alert-important-color: #7e5ac2;
  --alert-warning-color: #9e6300;
  --alert-error-color: #cd3434;
  // Dark mode options:
  // --alert-info-color: #308bf5;
  // --alert-tip-color: #25c04b;
  // --alert-important-color: #a676ff;
  // --alert-warning-color: #cea11f;
  // --alert-error-color: #ff4141;

  // TODO(parlough): Remove these resets once bootstrap is removed.
  margin: 0;
  border: none;

  padding: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  border-left: solid 0.25rem $site-color-light-grey;
  background-color: $site-color-codeblock-bg;
  --alert-title-color: $site-color-body;

  .alert-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 0.5rem;
    font-family: $site-font-family-alt;
    font-size: 1.125rem;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: var(--alert-title-color);

    .material-symbols {
      font-size: 1.25em;
      user-select: none;
    }
  }

  .alert-content {
    color: $site-color-body;

    > :last-child {
      margin-bottom: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-success {
    border-color: var(--alert-tip-color);
    --alert-title-color: var(--alert-tip-color);
  }

  &.alert-important {
    border-color: var(--alert-important-color);
    --alert-title-color: var(--alert-important-color);
  }

  &.alert-warning {
    border-color: var(--alert-warning-color);
    --alert-title-color: var(--alert-warning-color);
  }

  &.alert-info {
    border-color: var(--alert-info-color);
    --alert-title-color: var(--alert-info-color);
  }

  &.alert-secondary {
    border-color: $site-color-light-grey;
    --alert-title-color: $site-color-body;
  }

  &.alert-error {
    border-color: var(--alert-error-color);
    --alert-title-color: var(--alert-error-color);
  }
}
