aside.alert {
  padding: 0.75rem;
  border-left: solid 0.25rem var(--site-outline-variant);
  background-color: var(--site-surface-container);
  --alert-title-color: var(--site-on-surface);

  .alert-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--site-ui-font-family), sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: var(--alert-title-color);

    .material-symbols {
      font-size: 1.25em;
      user-select: none;
    }
  }

  .alert-content {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-success {
    border-color: var(--alert-tip-color);
    --alert-title-color: var(--alert-tip-color);
  }

  &.alert-important {
    border-color: var(--alert-important-color);
    --alert-title-color: var(--alert-important-color);
  }

  &.alert-warning {
    border-color: var(--alert-warning-color);
    --alert-title-color: var(--alert-warning-color);
  }

  &.alert-info {
    border-color: var(--alert-info-color);
    --alert-title-color: var(--alert-info-color);
  }

  &.alert-secondary {
    border-color: var(--site-surface-container-highest);
    --alert-title-color: var(--site-on-surface);
  }

  &.alert-error {
    border-color: var(--alert-error-color);
    --alert-title-color: var(--alert-error-color);
  }
}
