#site-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  background-color: var(--site-secondary-container);
  color: var(--site-on-secondary-container);

  p {
    overflow-wrap: anywhere;
    word-break: normal;
    margin: 0;
    flex-grow: 1;
  }

  border-radius: var(--site-square-radius);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  @media(max-width: 576px) {
    border-radius: 0;
  }
}

#banner-close-button {
  margin-left: auto;
}
