.book-img-with-details {
  margin-block-start: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 2rem;

  @media (min-width: 576px) {
    flex-direction: row;
    margin-block-start: 1.5rem;
  }

  img {
    min-width: 0;
    width: 160px;
    max-width: 240px;

    @media (min-width: 768px) {
      width: 200px;
    }
  }

  h3.title {
    font-size: 1.5rem;
    margin-block: 0;
  }
}
