#site-content nav.breadcrumbs {
  align-items: center;
  margin-bottom: 1rem;

  > ol {
    background-color: var(--site-surface-container-high);
    border-radius: var(--site-square-radius);
    padding: 0.375rem;

    align-items: center;
    list-style: none;

    font-family: var(--site-ui-font-family), sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li.breadcrumb-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      & a {
        padding: 0.125rem;
        border-radius: 0.125rem;
      }

      &.active a {
        color: var(--site-on-surface);
        cursor: default;
        text-decoration: none;
      }
    }

    .child-icon {
      user-select: none;
    }
  }
}
