@use '../base/mixins';

a {
  color: var(--site-primary-color);
  border-radius: 0.25rem;

  &:hover {
    color: var(--site-primary-color);
    text-decoration: underline;
  }

  &:active {
    color: var(--site-primary-color-dark);
  }

  &:visited {
    color:var(--site-primary-color);
  }
}

a, button {
  text-decoration: none;
  background: none;
  cursor: pointer;

  &.filled-button, &.text-button {
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    outline-offset: 2px;
    border-radius: 24px;
    font-weight: 500;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }

  &.filled-button {
    background-color: var(--site-filledButton-bgColor);
    color: var(--site-filledButton-fgColor);

    &:hover {
      @include mixins.interaction-style(8%);
    }

    &:active {
      @include mixins.interaction-style(16%);
    }
  }

  &.text-button {
    color: var(--site-primary-color);

    &:hover {
      @include mixins.interaction-style(4%);
    }

    &:active {
      @include mixins.interaction-style(8%);
    }
  }

  &.icon-button {
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: var(--site-base-fgColor-alt);
    text-decoration: none;

    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    background: none;

    > span {
      font-size: 1.75rem;
    }

    &:hover {
      color: var(--site-base-fgColor);
    }
  }
}
