@use '../base/mixins' as *;
@use '../base/variables' as *;

button.chip {
  border: 1px solid $chip-border-color;
  border-radius: 8px;
  height: 2rem;
  padding: 0 .5rem;
  background: none;
  color: $chip-text-color;
  font-weight: 500;
  user-select: none;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: $site-font-family-ui;

  .label {
    background: none;
  }

  &:hover {
    @include interaction-style(4%);
  }

  &:active {
    @include interaction-style(8%);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    border-color: transparent;
  }

  .chip-icon {
    align-self: center;
    fill: currentcolor;
    position: relative;
    height: 18px;
    width: 18px;
  }

  .leading-icon {
    display: none;
    margin-right: 0.25rem;
  }
}

button.chip {
  &.selected {
    background-color: $chip-selected-container-color;
    border: none;

    .leading-icon {
      display: flex;
    }
  }
}