@use 'sass:color';

*:not(pre) > code {
  font-size: 0.875em;
  line-height: 1.25em;
  padding: 0 0.15rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  background-color: var(--site-surface-container-low);
  background-color: color-mix(in srgb, var(--site-surface-container) 80%, transparent);

  border: 1px solid var(--site-outline-variant);
  border-radius: 0.25rem;
  word-wrap: break-word;
  white-space: nowrap;
}

pre {
  overflow: auto;
  margin-bottom: 1rem;
  font-size: 0.9125rem;
  font-weight: 400;
  padding: 1.25rem;

  a {
    font-family: inherit;
    font-weight: inherit;
  }

  .highlight {
    background-color: var(--code-highlight-bg-color);
    padding: 0.1em;
  }

  .highlight-diagnostics & {
    .highlight {
      border-bottom: 2px #E64637 dashed;
      background: inherit;
      padding: 0;
    }
  }

  &:focus {
    outline: none;
  }

  span.line {
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-width: 100%;
    border-left: 2px solid transparent;

    &.highlighted-line {
      background: color.change(#0468D7, $alpha: 0.05);
      border-left-color: #0468D7;
    }
  }

  &.show-line-numbers code {
    span.line {
      padding-left: 0.5rem;

      &[data-line]::before {
        display: inline-block;
        content: attr(data-line) "";
        width: 2em;
        margin-right: 0.5rem;
        text-align: right;
        color: #8d9399;
      }
    }
  }
}

.code-inner-buttons {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  button {
    appearance: none;
    padding: 0.2rem;
    border: none;
    color: #6E7274;
    background: none;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
    border-radius: var(--site-square-radius);

    &:hover, &:focus-visible {
      color: #0468D7;
      opacity: 1;
    }

    &:active {
      color: #043875;
    }
  }
}

.code-block-language {
  font-family: var(--site-code-font-family), monospace;
  user-select: none;
  font-size: 0.8125rem;
  color: #6E7274;
  opacity: 1;
  transition: opacity 0.25s;

  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 5;

  .highlight-languages .language-dart & {
    color: #0468D7;
  }

  .highlight-languages .language-js & {
    color: #f1a85a;
  }

  .highlight-languages .language-swift & {
    color: #f05137;
  }

  .highlight-languages :not(.has-tag) & {
    font-size: 0.875rem;
    left: 6px;
    right: unset;
  }
}

.code-block-tag {
  font-family: var(--site-code-font-family), monospace;
  font-size: 0.8125rem;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: 6px;

  .tag-good &, .tag-passes-sa &, .tag-runtime-success & {
    color: #155723;
  }

  .tag-bad &, .tag-fails-sa &, .tag-runtime-fail & {
    color: #cb1425;
  }
}

.code-block-wrapper {
  margin-bottom: 1rem;
  border: 1px solid var(--site-outline-variant);

  .code-block-header {
    background-color: var(--site-surface-container-highest);
    border-bottom: 1px solid var(--site-outline-variant);
    font-size: 0.9125rem;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0.75rem 0.5rem 0.67rem 1rem;
  }

  .code-block-body {
    position: relative;
    background-color: var(--site-surface-container);

    &:hover, &:focus-within {
      .code-block-language {
        opacity: 0;
      }

      .code-inner-buttons button {
        opacity: 1;
      }
    }

    &.tag-good, &.tag-passes-sa, &.tag-runtime-success {
      background-color: #f1fbf9;
    }

    &.tag-bad, &.tag-fails-sa, &.tag-runtime-fail {
      background-color: #fef3f6;
    }
  }

  &:has(:focus-visible) {
    border-color: var(--site-primary-container);
  }

  pre {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;

    code {
      display: block;
      width: 100%;
    }

    &:not([lang="console"]) {
      line-height: 1.8;
    }
  }
}
