@use 'sass:color';

@use '../base/variables' as *;

pre, code, kbd, samp {
  font-family: $site-font-family-monospace;
}

// Inline code spans found within the primary contents of the page.
// Targets all <code> elements, but <pre><code> shouldn't have many of these.
main code, main kbd {
  font-size: 0.9em;
  line-height: 1.25em;
  padding: 0.1rem 0.25rem;
  background-color: $site-color-light-grey;
  background-color: color-mix(in srgb, $site-color-light-grey 35%, transparent);
  border: 1px solid rgb(195, 201, 214);
  border-radius: 0.2rem;
  word-wrap: break-word;
  white-space: nowrap;
}

main kbd {
  background-color: $site-color-body;
  border: none;
  color: $site-color-light-grey;
}

pre {
  margin-bottom: 1rem;
  padding: 1.25rem;
  overflow: auto;

  > code {
    // Undo the core `code` styles.
    font-size: 0.9125rem;
    line-height: 1.75em;
    padding: 0;
    background: none;
    border: none;
    border-radius: unset;
    word-break: normal;
    white-space: pre;
  }

  a {
    font-family: inherit;
    font-weight: inherit;
  }

  .highlight {
    background: $flutter-color-yellow-300;
    padding: 0.1em;
  }

  .highlight-diagnostics & {
    .highlight {
      border-bottom: 2px $flutter-color-fuchsia dashed;
      background: inherit;
      padding: 0;
    }
  }

  &:focus {
    outline: none;
  }

  span.line {
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-width: 100%;
    border-left: 2px solid transparent;

    &.highlighted-line {
      background: color.change($site-color-primary, $alpha: 0.05);
      border-left-color: $site-color-primary;
    }

    &.added-line, &.removed-line {
      padding-left: 0.25rem;

      &::before {
        display: inline-block;
        user-select: none;
        width: 0.75rem;
        margin-right: 0.25rem;
        text-align: right;
      }
    }

    &.added-line {
      background: color.change($flutter-color-teal, $alpha: 0.03);
      border-left-color: $flutter-color-teal;

      &::before {
        content: '+';
        color: color.mix($site-color-sub-grey, $flutter-color-teal);
      }
    }

    &.removed-line {
      background: color.change($alert-danger-fg, $alpha: 0.03);
      border-left-color: $alert-danger-fg;

      &::before {
        content: '-';
        color: color.mix($site-color-sub-grey, $alert-danger-fg);
      }
    }

    .terminal-command::before {
      color: $site-color-sub-grey;
      content: "$";
      content: "$" / "";
      padding-right: 0.5rem;
    }
  }

  &.show-line-numbers code {
    span.line {
      padding-left: 0.5rem;

      &[data-line]::before {
        display: inline-block;
        content: attr(data-line) "";
        width: 2em;
        margin-right: 0.5rem;
        text-align: right;
        color: $site-color-sub-grey;
      }
    }
  }
}

.code-inner-buttons {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  button {
    padding: 0.2rem;
    appearance: none;
    border: none;
    color: $site-color-nav-links;
    background: none;
    opacity: 0;
    transition: opacity 0.4s;

    &:hover, &:focus {
      color: $site-color-primary;
      opacity: 1;
    }

    &:active {
      color: $flutter-color-blue;
    }
  }
}

.code-block-language {
  font-family: $site-font-family-monospace;
  user-select: none;
  font-size: 0.8125rem;
  color: $site-color-nav-links;
  opacity: 1;
  transition: opacity 0.25s;

  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 5;

  .highlight-languages .language-dart & {
    color: $site-color-primary;
  }

  .highlight-languages .language-js & {
    color: #f1a85a;
  }

  .highlight-languages .language-swift & {
    color: #f05137;
  }

  .highlight-languages :not(.has-tag) & {
    font-size: 0.875rem;
    left: 6px;
    right: unset;
  }
}

.code-block-tag {
  font-family: $site-font-family-monospace;
  font-size: 0.8125rem;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: 6px;

  .tag-good &, .tag-passes-sa &, .tag-runtime-success & {
    color: $alert-success-fg;
  }

  .tag-bad &, .tag-fails-sa &, .tag-runtime-fail & {
    color: $alert-danger-fg;
  }
}

.code-block-wrapper {
  margin-bottom: 1rem;
  border: 1px solid $flutter-color-grey-500;

  .code-block-header {
    background-color: #e9ecef;
    border-bottom: 1px solid $flutter-color-grey-500;
    font-size: 0.9375rem;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0.75rem 0.5rem 0.67rem 1rem;
  }

  .code-block-body {
    position: relative;
    background-color: $site-color-codeblock-bg;

    &:hover, &:focus-within {
      .code-block-language {
        opacity: 0;
      }

      .code-inner-buttons button {
        opacity: 1;
      }
    }

    &.tag-good, &.tag-passes-sa, &.tag-runtime-success {
      background-color: $alert-success-bg;
    }

    &.tag-bad, &.tag-fails-sa, &.tag-runtime-fail {
      background-color: $alert-danger-bg;
    }
  }

  &:has(:focus-visible) {
    border-color: #1389FD;
  }

  pre {
    margin: 0;
    padding-right: 0;
    padding-left: 0;

    code {
      display: block;
      min-width: fit-content;
      width: 100%;
    }
  }
}

// Border and resizability for dartpad
iframe[src^="https://dartpad"] {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  min-height: 400px;
  resize: vertical;
  width: 100%;
}
