@use '../base/variables' as *;

.site-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  width: 100%;

  min-height: calc(100vh - $site-header-height);

  article {
    min-width: 8rem;
    max-width: $site-content-max-width;
    padding: 2rem;

    img {
      object-fit: contain;
    }

    > img {
      margin-bottom: 1rem;
    }
  }

  &__title {
    margin-block-end: 1.5rem;

    h1 {
      margin-bottom: 0;
    }
  }

  p {
    margin-block-start: 0;
  }

  b, strong {
    font-weight: bolder;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    scroll-margin-top: 5rem;
    line-height: 1.2;
    font-family: $site-font-family-ui;
    font-weight: 400;
  }

  h1 {
    font-size: 2.75rem;
    margin-top: 0;
    margin-bottom: 0;
    scroll-margin-top: 6rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3125rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 0.9375rem;
  }

  .header-wrapper {
    display: flex;
    margin-block-start: 1.5rem;
    margin-block-end: 0.75rem;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .heading-link {
      margin-left: 0.4rem;
      font-size: 1.3rem;
      line-height: 1;
      transition: all 0.15s ease-in-out;
      overflow: hidden;
      color: #4a4a4a;
      opacity: 0;
      text-decoration: none;

      &:hover {
        color: $site-color-primary;
      }

      &:focus {
        opacity: 1
      }

      &:active {
        color: $flutter-color-dark-blue;
      }
    }

    &:hover {
      .heading-link {
        opacity: 1
      }
    }
  }

  // Embedded DartPad
  iframe {
    border: 1px solid #ccc;
    max-width: 100%;
  }
}

nav.breadcrumbs {
  align-items: center;
  margin-block-end: 1rem;

  > ol {
    border-radius: 0.375rem;
    margin-block-start: 0;
    padding: 0.375rem 0;

    align-items: center;
    list-style: none;

    font-family: $site-font-family-ui;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li.breadcrumb-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;

      & a {
        padding: 0.125rem;
        border-radius: 0.125rem;
      }

      &.active a {
        color: $site-color-nav-links;
        cursor: default;
        text-decoration: none;
      }

      &:before {
        display: none;
      }
    }

    .child-icon {
      user-select: none;
      color: $site-color-body-light;
    }
  }
}

.full-width {
  width: 100%;
}

iframe.full-width {
  aspect-ratio: 16 / 9;
}
