@use '../base/variables' as *;
@use '../vendor/bootstrap';

// Material design icons
@mixin md-icon-content($icon-name, $width: '', $bottom: true) {
  font-family: $site-font-family-icon;
  content: $icon-name;
  @if $width != '' {
    max-width: $width; // Improves UX by minimizing flicker due to delay in font rendering
  }
  @if $bottom {
    vertical-align: bottom;
  }
}

@mixin md-icon-before($icon-name, $bottom: true) {
  &:before { @include md-icon-content($icon-name, '', $bottom); }
}

.site-content {
  padding-bottom: $site-content-top-padding;
  padding-top: $site-content-top-padding;

  .container {
    max-width: $site-content-max-width;

    img, iframe {
      max-width: 100%;
    }

    > img {
      margin-bottom: 1rem;
    }
  }

  @include bootstrap.media-breakpoint-up(md) {
    border-left: 1px solid $site-color-light-grey;
    min-height: calc(100vh - #{$site-header-height} - #{$site-footer-md-default-height});
  }

  &__title {
    margin-bottom: bootstrap.bs-spacer(8);

    @at-root {
      #page-github-links {
        float: right;
        .btn {
          padding: 0 (bootstrap.$btn-padding-x * 0.5);
          border: none;
          box-shadow: none;

          &:hover, &:focus-visible {
            color: $site-color-primary;
          }

          &:active {
            color: $flutter-color-dark-blue;
          }
        }

        .material-symbols {
          font-size: 18px;
        }
      }
    }

    h1 {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  .header-wrapper {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .heading-link {
      margin-left: 0.4rem;
      font-size: 1.3rem;
      line-height: 1;
      transition: all 0.15s ease-in-out;
      overflow: hidden;
      color: #4a4a4a;
      opacity: 0;
      text-decoration: none;

      &:hover {
        color: $site-color-primary;
      }

      &:focus {
        opacity: 1
      }

      &:active {
        color: $flutter-color-dark-blue;
      }
    }

    &:hover {
      .heading-link {
        opacity: 1
      }
    }
  }

  // Embedded DartPad
  iframe {
    border: 1px solid #ccc;
  }
}

.video-card {
  flex: 0 0 calc((100% / 2) - 1rem);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

iframe.full-width {
  aspect-ratio: 16 / 9;
}
