#cookie-notice {
  display: none;
  justify-content: center;
  background-color: var(--site-base-bgColor);
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: var(--site-z-dropdown);

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &.show {
    display: flex;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    min-width: 0;
    width: auto;
    gap: 1.5rem;

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin: 0;
    }
  }
}
