@use '../base/variables' as *;

#site-footer {
  position: relative;
  z-index: 1000;
  background-color: $site-color-footer;
  padding: 32px;

  color: $site-color-light-grey;
  font-weight: 400;
  font-family: $site-font-family-alt;
  font-size: 14px;

  .brand {
    width: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.125rem;
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: left;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-main {
    margin-bottom: 24px;
    align-items: center;
  }

  .footer-tray {
    border-top: 1px solid #82878c;
    padding-top: 24px;

    .footer-licenses {
      width: 70%;
      max-width: 720px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .footer-social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      display: inline-flex;
      text-align: center;
      padding: 0.25rem;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      user-select: none;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    @media (max-width: 768px) {
      margin-top: 24px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-left: 16px;
    }

    @media (max-width: 768px) {
      margin-top: 12px;

      li:first-child {
        margin-left: 0;
      }
    }
  }

  a {
    color: $site-color-light-grey;
    font-family: $site-font-family-alt;

    &:hover, &:focus, &:active {
      color: $site-color-white;
    }
  }
}
