@use '../base/variables' as *;
@use '../vendor/bootstrap';

.site-footer {
  background-color: $site-color-footer;
  color: $site-color-white;
  padding: bootstrap.bs-spacer(5) 0;
  position: relative;
  z-index: bootstrap.$zindex-sticky;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include bootstrap.media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__content {
    font-size: bootstrap.$font-size-sm;
    margin: bootstrap.bs-spacer(5) 0;

    a {
      color: $site-color-white;
    }

    .licenses {
      font-size: 10px;
    }

    @include bootstrap.media-breakpoint-up(sm) {
      margin: 0 bootstrap.bs-spacer(5);
      flex-grow: 1;
    }
  }

  &__link-list {
    list-style: none;
    padding: 0;

    li {
      &:not(:last-child):after {
        content: '\2022'; // &bull;
        padding-left: bootstrap.bs-spacer(1);
      }
      display: inline;
      padding-right: bootstrap.bs-spacer(1);
    }
  }
}
