@use '../base/utils';

#site-footer {
  position: relative;
  background-color: var(--site-surface);
  padding: 1rem;
  border-radius: var(--site-square-radius);
  margin: 0 1rem 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-size: 14px;
  font-family: var(--site-ui-font-family), sans-serif;

  @media(max-width: 576px) {
    margin: 1rem 0 0;
    border-radius: 0;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;

    @media(max-width: 768px) {
      flex-direction: column;
      text-align: center;

      ul {
        text-align: center;
      }
    }
  }

  .footer-main {
    margin-bottom: 1rem;
    align-items: center;
  }

  .footer-tray {
    border-top: 1px solid var(--site-outline-variant);
    padding-top: 1.25rem;
    width: 100%;

    .footer-licenses {
      width: 70%;

      @media(max-width: 768px) {
        width: 100%;
      }
    }

    a {
      color: var(--site-on-surface-variant);

      &:hover {
        color: #0468d7;
      }
    }
  }

  .footer-social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    a {
      color: var(--site-on-surface-variant);
      padding: 0.375rem;

      svg {
        height: 1.75rem;
        width: 1.75rem;
      }

      &:hover {
        text-decoration: none;
        @include utils.interaction-style(3%);
      }

      &:active {
        @include utils.interaction-style(6%);
      }
    }

    @media(max-width: 768px) {
      margin-top: 1rem;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: inline;
      margin-left: .75rem;
    }

    @media(max-width: 768px) {
      margin-top: .75rem;

      li:first-child {
        margin-left: 0;
      }
    }
  }
}
