@use '../base/variables' as *;

.site-header {
  background-color: $site-color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  font-family: $site-font-family-ui;
  position: sticky;
  top: 0;
  z-index: $site-z-header;

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    min-height: $site-header-height;

    #menu-toggle {
      margin-right: 0.75rem;

      @media (min-width: 1024px) {
        display: none;
      }
    }

    .navbar-brand {
      margin-right: auto;

      img {
        width: 129px;
        height: 37px;
        vertical-align: middle;
      }
    }

    .navbar-contents {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .navbar-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: row;
      gap: 0.5rem;
      display: none;

      @media (min-width: 1200px) {
        display: flex;
      }
    }

    .nav-link {
      color: $site-color-nav-links;
      padding: 0.25rem .5rem;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $site-color-body;
      }
    }
  }

  #call-to-action {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem !important;
    display: none;

    @media (min-width: 768px) {
      display: unset;
    }
  }

  &__search {
    display: none;
    position: relative;
    align-items: center;
    vertical-align: middle;
    margin-left: 1rem;

    @media (min-width: 576px) {
      display: flex;
    }

    &::before {
      content: 'search';
      color: $site-color-nav-links;
      font: $site-font-icon;
      pointer-events: none;
      position: absolute;
      left: 0.25rem;
    }

    &:hover::before {
      color: $site-color-body;
    }
  }

  &__searchfield {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 1rem;
    transition: width .35s ease-in-out;
    width: 24px;
    cursor: pointer;

    &:focus {
      width: 220px;
      cursor: auto;
    }
  }

  #fallback-search-button {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
