@use '../base/utils';

#site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--site-surface-container-low);
  gap: 1rem;
  align-items: center;
  min-height: 4rem;
  max-height: 5rem;
  top: 0;
  position: sticky;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  @at-root body.dark-mode & {
    box-shadow: none;
    border-bottom: 1px solid var(--site-outline-variant);
  }
}

#header-leading {
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  justify-self: start;
  align-items: center;
  user-select: none;

  font-variant-ligatures: none;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-family: var(--site-ui-font-family), sans-serif;

  .flutter-logo > span {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

#header-trailing {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  search {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    border-radius: var(--site-square-radius);
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;

    font-family: var(--site-ui-font-family);
    background-color: var(--site-surface-container-high);
    transition: 0.4s width ease;

    .icon-button {
      background-image: none;

      &:hover {
        color: var(--site-primary);
      }

      > span {
        font-size: 1.5rem;
      }
    }

    &:hover {
      @include utils.interaction-style(2%);
    }

    &:focus-within {
      outline: 2px solid var(--site-primary-container);
      @media(min-width: 621px) {
        width: 18rem;
      }

      @media(min-width: 769px) {
        width: 22rem;
      }

      @media(min-width: 961px) {
        width: 30rem;
      }
    }

    input {
      border-radius: var(--site-square-radius);
      caret-color: var(--site-primary-container);
      padding: 0.5rem;
      background: none;
      text-overflow: ellipsis;
      width: 100%;
      overscroll-behavior: contain;

      &:focus {
        outline: none;
      }
    }

    @media(max-width: 576px) {
      display: none;
    }
  }

  #open-search {
    @media(min-width: 577px) {
      display: none;
    }
  }
}

#docs-button {
  padding: 0 0.25rem;
  border-radius: var(--site-square-radius);

  background-color: var(--site-secondary-container);
  color: var(--site-on-surface);

  &:hover {
    text-decoration: none;
    @include utils.interaction-style(4%);
  }

  &:active {
    @include utils.interaction-style(8%);
  }
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin-left: 0.5rem;

  > button {
    padding: 0.5rem;

    > span:first-child {
      display: none;
    }
  }
}
