#site-header {
  display: grid;
  grid-template-columns:
          minmax(max-content, 1fr)
          minmax(max-content, 3fr)
          minmax(max-content, 1fr);
  background-color: var(--site-surface-container-low);
  column-gap: 1rem;
  align-items: center;
  min-height: 4rem;
  max-height: 5rem;
  top: 0;
  position: sticky;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#header-leading {
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
  user-select: none;

  font-variant-ligatures: none;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: var(--site-ui-font-family), sans-serif;

  .flutter-logo > span {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

#header-trailing {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  #open-search {
    @media(min-width: 577px) {
      display: none;
    }
  }
}

#header-center {
  display: block;
  justify-self: center;
  max-width: 36rem;
  width: 100%;

  .header-button > span {
    font-size: 1.5rem;
  }

  search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem;

    font-family: var(--site-ui-font-family), sans-serif;
    background-color: var(--site-surface-container-high);

    &:focus-within {
      outline: 2px solid #027DFD;
    }

    input {
      border-radius: 0.375rem;
      caret-color: #027DFD;
      padding: 0.5rem;
      background: none;
      text-overflow: ellipsis;
      width: 100%;
      overscroll-behavior: contain;

      &:focus {
        outline: none;
      }
    }

    @media(max-width: 576px) {
      display: none;
    }
  }
}

#docs-button {
  padding: 0.25rem;
  border-radius: 0.375rem;
}

#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 4rem;
  height: 100%;

  > button {
    padding: 0.5rem;

    > span:first-child {
      display: none;
    }
  }
}
