@use '../base/variables' as *;

.site-header {
  background-color: $site-color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  font-family: $site-font-family-alt;
  position: sticky;
  top: 0;
  z-index: $site-z-header;

  .navbar {
    font-size: 1rem;
    min-height: $site-header-height;

    #menu-toggle {
      appearance: none;
      border: none;
      background: none;
      color: $site-color-body;
      margin-right: 1rem;
      padding: 0;

      .material-symbols {
        font-size: 28px;
      }

      @media (min-width: 1024px) {
        display: none;
      }
    }

    .navbar-brand {
      margin-right: auto;

      img {
        width: 129px;
        height: 37px;
      }
    }

    .navbar-contents {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .navbar-nav {
      flex-direction: row;
      gap: 0.5rem;
      display: none;

      @media (min-width: 1200px) {
        display: flex;
      }
    }

    .nav-link {
      color: $site-color-nav-links;
      padding: 0.25rem .5rem;
      position: relative;
      text-decoration: none;
    }
  }

  &__cta {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem !important;
    display: none;

    @media (min-width: 768px) {
      display: unset;
    }
  }

  &__search {
    display: flex;
    position: relative;
    align-items: center;
    vertical-align: middle;

    &::before {
      content: 'search';
      font: $site-font-icon;
      pointer-events: none;
      position: absolute;
      left: 0.25rem;
    }

    @media (min-width: 768px) {
      margin-left: 1rem;
    }
  }

  &__searchfield {
    border: 0;
    padding-left: 2rem;
    font-size: 1rem;
    height: unset;
    transition: width .35s ease-in-out;
    width: 24px;

    &:focus {
      width: 220px;
    }
  }
}


header.site-header {
  .dropdown-menu {
    position: absolute;
    float: none;
    top: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 0.75rem;
    border: 1px solid #eee;
  }

  .dropdown-item {
    padding: 0.55rem 1.2rem;
    font-size: 14px;
    color: #444;
    border-radius: 4px;

    &:hover,
    &.active {
      color: #000;
      background-color: #f6f6f6;
      transition: background-color 300ms ease;
    }

    &.active {
      font-weight: 500;
    }
  }

  .dropdown-toggle::after {
    position: relative;
    top: 1px;
  }
}
