@use '../base/variables' as *;
@use '../vendor/bootstrap';

.site-header {
  background-color: $site-color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  font-family: $site-font-family-alt;
  position: sticky;
  top: 0;
  z-index: bootstrap.$zindex-fixed;

  .navbar {
    font-size: bootstrap.$font-size-lg;
    min-height: $site-header-height;

    @include bootstrap.media-breakpoint-up(md) {
      font-size: bootstrap.$font-size-base;
    }

    .navbar-toggler {
      color: $site-color-body;
      margin-right: bootstrap.bs-spacer(4);
      padding: 0;

      .material-icons {
        font-size: 28px;
      }
    }

    .navbar-brand {
      margin-right: auto;
    }

    .nav-link {
      padding: bootstrap.bs-spacer(5) 0;
      position: relative;

      @include bootstrap.media-breakpoint-up(md) {
        color: $site-color-nav-links;
        padding: 0 bootstrap.bs-spacer(4);
      }

      &.active {
        color: $site-color-body;
        font-weight: 500;

        @include bootstrap.media-breakpoint-up(md) {
          &:after {
            $nav-active-marker-thickness: 3px;
            background-color: $site-color-primary;
            content: '';
            display: block;
            height: $nav-active-marker-thickness;
            left: 0;
            position: absolute;
            top: calc(50% + (#{$site-header-height} / 2) - #{$nav-active-marker-thickness});
            width: 100%;
          }
        }
      }
    }
  }

  .navbar-collapse {
    bottom: 0;
    height: auto !important; // override bootstrap's height calculation
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition-duration: 0s;
    z-index: bootstrap.$zindex-fixed;

    @include bootstrap.media-breakpoint-down(sm) {
      pointer-events: none;

      &:not(.show) {
        display: block;
      }

      &.show {
        pointer-events: auto;
        transition-duration: 0.35s;

        .site-header__sheet {
          transform: translateX(0);
        }
        .site-header__sheet-bg {
          opacity: 1;
        }
      }

      .navbar-nav {
        margin-bottom: bootstrap.bs-spacer(5);
        overflow-y: auto;
        overscroll-behavior: contain;
      }
    }

    @include bootstrap.media-breakpoint-up(md) {
      position: static;
    }
  }

  &__sheet {
    display: flex;
    z-index: bootstrap.$zindex-modal;

    @include bootstrap.media-breakpoint-down(sm) {
      background: $site-color-white;
      bottom: 0;
      flex-direction: column;
      left: 0;
      position: absolute;
      right: 60px;
      top: 0;
      transform: translateX(-100%);
      transition: transform 0.35s ease-in-out;

      > * {
        margin: 0 $site-nav-mobile-side-padding;
      }
    }

    @include bootstrap.media-breakpoint-up(md) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__sheet-bg {
    cursor: pointer; // needed for iOS to recognize the div as clickable
    z-index: bootstrap.$zindex-modal-backdrop;

    @include bootstrap.media-breakpoint-down(sm) {
      background: rgba(0, 0, 0, .4);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.35s ease-in-out;
    }
  }

  &__cta {
    margin-left: bootstrap.bs-spacer(2);
    padding: bootstrap.bs-spacer(2) bootstrap.bs-spacer(4) !important;

    @include bootstrap.media-breakpoint-down(sm) { display: none; }
  }

  &__search {
    position: relative;

    &::before {
      content: 'search';
      font: $site-font-icon;
      pointer-events: none;
      position: absolute;
      left: bootstrap.bs-spacer(1);
    }

    @include bootstrap.media-breakpoint-down(sm) {
      border-bottom: 1px solid $site-color-light-grey;
      flex-shrink: 0;
      margin: 0;
      order: -1;
      padding: 0 $site-nav-mobile-side-padding;

      &::before {
        left: $site-nav-mobile-side-padding;
      }
    }

    @include bootstrap.media-breakpoint-up(md) {
      margin-left: bootstrap.bs-spacer(4);
    }
  }

  &__searchfield {
    border: 0;
    font-size: bootstrap.$font-size-sm;
    padding-left: bootstrap.bs-spacer(8);

    @include bootstrap.media-breakpoint-down(md) {
      font-size: bootstrap.$font-size-lg;
      height: 66px;
      width: 100% !important;
    }

    @include bootstrap.media-breakpoint-up(md) {
      transition: width .35s ease-in-out;
      width: 24px !important;

      &:focus {
        width: 220px !important;
      }
    }
  }

  &__social {
    .nav-item.nav-link {
      padding: 0 bootstrap.bs-spacer(2);

      @include bootstrap.media-breakpoint-down(sm) {
        padding: 0 bootstrap.bs-spacer(1);
        font-size: smaller;
      }
    }
  }
}


header.site-header {

  .dropdown-menu {
    top: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 0.75rem;
    border: 1px solid #eee;
  }

  .dropdown-item {
    padding: 0.55rem 1.2rem;
    font-size: 14px;
    color: #444;
    border-radius: 4px;

    &:hover,
    &.active {
      color: #000;
      background-color: #f6f6f6;
      transition: background-color 300ms ease;
    }

    &.active {
      font-weight: 500;
    }
  }

  .dropdown-toggle::after {
    position: relative;
    top: 1px;
  }

  @include bootstrap.media-breakpoint-down(sm) {
    .navbar-collapse {
      .navbar-nav {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .site-header__sheet > * {
      margin: 0;
    }
  }

  @include bootstrap.media-breakpoint-down(md) {
    .site-header__sheet .navbar-nav > .nav-item {
      display: none;
    }
  }

  @include bootstrap.media-breakpoint-down(lg) {
    .site-header__sheet .navbar-nav .nav-item.docs-item {
      display: none;
    }
  }

  .nav-icon {
    &:hover {
      color: $site-color-body-light;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
