// A big button centered on top of an image.
//
// The container is typically a <div> element. The div has only 2 children:
// an <img> element (the background) and a <a class="btn"> button.
//
// The image should be very bright and slightly blurred so that the button
// stands out.
.juicy-button-container {
  position: relative;
  width: 100%;
  padding: 2em 0;

  img {
    // Take available space in the container.
    width: 100%;
    height: auto;
  }

  .btn {
    // Center the button in the container.
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    // Add a white "glow" that separates the button from the background.
    box-shadow: 0 0 10px 10px white ;

    // Make the button extra large.
    @media (min-width: 600px) {
      font-size: 150%;
      padding: 0.7rem;
    }

    @media (min-width: 900px) {
      font-size: 200%;
      padding: 1.0rem;
    }
  }
}
