img, iframe, svg, figure {
  max-width: 100%;
  object-fit: contain;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

iframe {
  max-width: 100%;

  // TODO(parlough): Prevent this from going beyond the background.
  &[src*="youtube.com"] {
    aspect-ratio: auto;
    border-radius: 0.375rem;
    margin-bottom: 0.25rem;
  }

  &[src*="dartpad.dev"], &[src*="dartpad.cn"] {
    width: 100%;
    min-height: 20rem;
    border: 1px solid var(--site-outline-variant);
    border-radius: 0.375rem;
    resize: vertical;
    overflow-y: auto;
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .video-intro {
    font-weight: 500;
    padding: 0 0.75rem;
    text-wrap: pretty;
  }
}

figure {
  display: flex;
  justify-content: center;

  img {
    margin-bottom: 0.5rem;
    max-width: 25rem;
  }

  figcaption {
    font-size: 0.875em;
    font-style: italic;
    text-align: center;
  }

  &.code-and-image {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-between;

    > div {
      width: 100%;

      &:last-child {
        text-align: center;
      }
    }

    @media(min-width: 769px) {
      > div {
        &:first-child {
          flex: 0 0 50%;
          max-width: 50%;
        }

        &:last-child {
          flex: 0 0 45%;
          max-width: 45%;
        }
      }

      figcaption {
        text-align: left;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
