.rrec-pill {
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;

  // Grey by default
  background: var(--site-inset-borderColor);
  color: var(--site-base-fgColor-lighter);

  // Green
  &.success {
    background: darken(#f1fbf9, 10%);
    color: #155723;
  }

  // Blue
  &.info {
    $info-bg: #e7f8ff;
    background: darken($info-bg, 10%);
    color: darken($info-bg, 60%);
  }
}

.pill-sm {
  border-radius: 20px;
  padding: $site-spacer / 3 $site-spacer / 2;
  text-align: center;
  font-size: .8rem;


  // Grey by default
  background: $site-color-light-grey;
  color: $site-color-body-light;

  &.flutter-blue {
    color: lighten($flutter-color-light-blue, 10%);
    background: $flutter-color-blue-500;
  }

  &.teal {
    color: lighten($flutter-color-light-teal, 10%);
    background: $flutter-color-teal;
  }

  &.purple {
    color: lighten($flutter-color-light-purple, 10%);
    background: $flutter-color-purple;
  }
}
