@use '../base/variables' as *;
@use '../vendor/bootstrap';
@use 'sass:color';


.rrec-pill {
  border-radius: 8px;
  margin: $site-spacer / 2;
  padding: $site-spacer / 2;
  text-align: center;

  // Grey by default
  background: $site-color-light-grey;
  color: $site-color-body-light;

  // Green
  &.success {
    background: darken($alert-success-bg, 10%);
    color: $alert-success-fg;
  }

  // Blue
  &.info {
    background: darken($alert-info-bg, 10%);
    color: darken($alert-info-bg, 60%);
  }
}
