.rrec-pill {
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;

  // Grey by default
  background: var(--site-inset-borderColor);
  color: var(--site-base-fgColor-lighter);

  // Green
  &.success {
    background: darken(#f1fbf9, 10%);
    color: #155723;
  }

  // Blue
  &.info {
    $info-bg: #e7f8ff;
    background: darken($info-bg, 10%);
    color: darken($info-bg, 60%);
  }
}
