.rrec-pill {
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;

  // Grey by default
  background: var(--site-inset-borderColor);
  color: var(--site-base-fgColor-lighter);

  // Green
  &.success {
    background: darken(#f1fbf9, 10%);
    color: #155723;
  }

  // Blue
  &.info {
    $info-bg: #e7f8ff;
    background: darken($info-bg, 10%);
    color: darken($info-bg, 60%);
  }
}

.pill-sm {
  border-radius: 20px;
  padding: 0.35rem 0.5rem;
  text-align: center;
  font-size: .8rem;

  // Grey by default
  background: var(--site-inset-borderColor);
  color: var(--site-base-fgColor-lighter);

  // TODO(parlough): Consider if these colors can be shared and if
  // compatible with dark mode.

  &.flutter-blue {
    color: lighten(#E7F8FF, 10%);
    background: #0468D7;
  }

  &.teal {
    color: lighten(#B8EDE1, 10%);
    background: #158477;
  }

  &.purple {
    color: lighten(#C6BAFA, 10%);
    background: #6200EE;
  }
}
