.site-sidebar {
  padding: $site-content-top-padding $site-sidebar-side-padding;

  // Customization for sidebar in mobile nav
  &.site-sidebar--header {
    padding-left: bs-spacer(2);
    padding-top: 0;
    padding-bottom: 0;

    > .nav > .nav-item {
      font-size: $font-size-base;
    }

    > .nav > .nav-item,
    > .nav > .nav-item .nav .nav-item {
      .nav-link {
        padding-bottom: bs-spacer(2);
        padding-top: bs-spacer(2);
      }
    }
  }

  .nav-link {
    padding: bs-spacer(1) 0;
    position: relative;
    color: inherit;
    &.disabled { opacity: 0.5; }
  }

  @mixin collapsable() {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    &::after {
      content: 'keyboard_arrow_down';
      font: $site-font-icon;
      transition: transform .25s ease-in-out;
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  // Top-level nav item
  > .nav > .nav-item {
    font-family: $site-font-family-alt;

    &:first-child {
      > .nav-link {
        padding-top: 0;
      }
    }

    > .nav-link {
      padding: bs-spacer(3) 0;

      @include collapsable();
    }
  }

  // Sub navs
  > .nav .nav {
    padding-left: bs-spacer(4);

    .nav-item {
      font-size: $font-size-sm;

      > .nav-link {
        color: $site-color-body-light;

        &.active {
          font-weight: $font-weight-bold;
          &:not(.collapsable) {
            color: $site-color-primary;
          }
        }

        &.collapsable {
          &::before{
            content: 'arrow_drop_down';
            font: $site-font-icon;
            left: -24px;
            position: absolute;
            top: 4px;
            transition: transform .25s ease-in-out;
          }

          &.collapsed {
            &::before {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}
