@use '../base/variables' as *;
@use '../vendor/bootstrap';

.site-sidebar {
  font-family: $site-font-family-alt;
  padding: $site-sidebar-top-padding 0 ($site-sidebar-top-padding * 2);

  // Customization for sidebar in mobile nav
  &.site-sidebar--header {
    padding: 0;

    > .nav > .nav-item {
      font-size: bootstrap.$font-size-base;
    }

    > .nav > .nav-item,
    > .nav > .nav-item .nav .nav-item {
      .nav-link {
        padding-top: bootstrap.bs-spacer(2);
        padding-bottom: bootstrap.bs-spacer(1);

        &.collapsable {
          padding-bottom: bootstrap.bs-spacer(2);
          &::before {
            top: 6px;
          }
        }
      }
    }
  }

  .sidebar-primary-divider {
    height: 0;
    margin-top: bootstrap.bs-spacer(1);
    margin-bottom: bootstrap.bs-spacer(1);
    overflow: hidden;
    border-top: 1px solid $site-color-light-grey;
  }
  
  @mixin nav-link-active-style {
    &.active {
      font-weight: bootstrap.$font-weight-bold;

      &:not(.collapsable) {
        color: $site-color-primary;

        &:hover {
          color: $flutter-color-dark-blue;
        }
      }
    }
  }

  @mixin nav-link-not-active-hover {
    &:not(.disabled) {
      &:hover {
        color: $site-color-primary;
      }
    }
  }

  .nav-header {
    font-weight: bootstrap.$font-weight-bolder;
    font-size: bootstrap.$font-size-base;
    user-select: none;
    color: lighten($site-color-body-light, 20%);
  }

  .nav-link {
    padding: bootstrap.bs-spacer(1) 0;
    position: relative;
    color: inherit;
    &.disabled { opacity: 0.5; }

    @include nav-link-active-style;

    @include nav-link-not-active-hover;

    // NOTE external link icons in toc were tiny -
    // correct sizing and spacing
    & span.material-icons {
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      color: inherit;
      opacity: 0.8;
    }
  }

  @mixin collapsable() {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    &::after {
      content: 'keyboard_arrow_down';
      font: $site-font-icon;
      transition: transform .25s ease-in-out;
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  // Top-level nav item
  > .nav {
    > .nav-item, > .nav-header {
      padding: 0 $site-sidebar-side-padding;
    }

    > .nav-header {
      padding-top: bootstrap.bs-spacer(1);
    }

    > .nav-item {
      > .nav-link {
        @include nav-link-active-style;
        
        &.collapsable {
          padding: bootstrap.bs-spacer(2) 0;

          @include collapsable();

          @include nav-link-not-active-hover;
        }
        
        &:not(.collapsable) {
          padding-top: bootstrap.bs-spacer(2);
        }
      }

      &:first-child {
        > .nav-link {
          padding-top: 0;
        }
      }
    }
  }

  // Sub navs
  > .nav .nav {
    padding-left: bootstrap.bs-spacer(4);
    margin-bottom: bootstrap.bs-spacer(1);

    .nav-header {
      font-size: bootstrap.$font-size-sm;

      &:not(:first-child) {
        margin-top: bootstrap.bs-spacer(2);
      }
    }

    .nav-item {
      font-size: bootstrap.$font-size-sm;

      > .nav-link {
        color: $site-color-body-light;

        @include nav-link-not-active-hover;
        @include nav-link-active-style;

        &.collapsable {
          &::before{
            content: 'arrow_drop_down';
            font: $site-font-icon;
            left: -24px;
            position: absolute;
            top: 2px;
            transition: transform .25s ease-in-out;
          }

          &.collapsed {
            &::before {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}
