@use '../base/variables' as *;

.styled-toc-list {
  margin: 0;
  --toc-indent: 0;

  > li {
    li {
      --toc-indent: 1;

      > li {
        --toc-indent: 2;
      }
    }
  }

  &, ul {
    padding: 0;
    font-size: 0.875rem;
    list-style: none;

    li {
      margin: 0;

      span.sidenav-item {
        display: block;
        margin-left: 12px;
        border-radius: 0;
        border-inline-start: 2px solid $sidenav-divider-color;
        padding: 0.125rem 0.125rem 0.125rem calc(0.75rem + var(--toc-indent) * 0.75rem);
        margin-right: 0.25rem;

        &.active {
          border-inline-start: 3px solid $site-color-primary;
          margin-left: 11px;
        }
      }

      a {
        color: $site-color-nav-links;
        display: block;
        text-decoration: none;
        padding: 0.2rem;

        &:hover {
          color: $site-color-primary;
        }

        &:active {
          color: color-mix(in srgb, $site-color-primary, #000 16%);
        }
      }
    }
  }
}

#side-menu {
  position: sticky;
  top: $site-header-height;
  order: 2;
  max-height: calc(100vh - $site-header-height);
  padding: $site-content-top-padding 0.75rem;

  display: none;
  flex-direction: column;
  gap: 1.5rem;

  height: fit-content;
  min-width: 15rem;
  max-width: 15rem;
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-width: thin;
  font-family: $site-font-family-ui;

  @media (min-width: 1200px) {
    display: flex;
  }

  > nav {
    header {
      font-size: 1rem;
      margin-block-end: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      span.material-symbols {
        color: $site-color-primary;
        user-select: none;
      }
    }
  }

  body.hide_toc & {
    display: none;
  }
}
