@use '../base/mixins';
@use '../base/variables' as *;

.dropdown {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

button.dropdown-button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;

  .material-symbols:last-child {
    margin-left: 0.4rem;
    color: rgba(85, 85, 85, 0.6);
    font-size: 1rem;
    width: 0.7rem;
  }

  &:hover {
    .material-symbols {
      color: rgba(85, 85, 85, 0.8);
    }
  }
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--site-switcher-bg, #ffffff);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
  z-index: 1060;
  border-radius: 0.4rem;
  width: max-content;
  top: 2.25rem;
  transform: scale(0.9);

  &.show {
    display: block;
  }

  .dropdown-menu {
    padding: 0.4rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0.3rem;

        a {
          display: flex;
          align-items: center;
          flex-direction: row;

          text-decoration: none;
        }
      }
    }

    .dropdown-divider {
      background-color: #e7e8ed;
      border-radius: 0.5rem;
      height: 0.125rem;
      margin: 0.25rem;
      padding: 0;
    }
  }
}

.site-wordmark {
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  font-variant-ligatures: none;
  font-size: 1.75rem;
  line-height: 1.25em;
  letter-spacing: 0.015em;
  font-family: 'Google Sans', sans-serif;
  user-select: none;

  > img {
    width: 28px;
    margin-right: 0.75rem;
  }

  &.current-site {
    background-color: rgba(194, 229, 255, 0.4);
  }

  &:hover {
    @include mixins.interaction-style(4%);
  }

  &:active {
    @include mixins.interaction-style(6%);
  }

  span {
    color: #4a4a4a;
  }

  span.subtype {
    padding: 0 0.3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: $site-color-body;
    line-height: 1.3;
    border-radius: 0.25rem;
    background-color: rgb(194, 229, 255);
    margin-left: 0.4rem;
    letter-spacing: normal;
  }
}
