// TODO(chalin): Temporary: adapted styles originally copied from old assets
// folder. These might be replaced by use of BS tabs (at least to some extent).

$tab-accent-color: $primary;

// General tabs. These are intended for instructions that vary according to user
// selection, e.g. around editor choice in getting started.

ul.tabs__top-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tabs__top-bar li {
  background: none;
  color: gray("500");
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
}

ul.tabs__top-bar li.current{
  background: $tab-accent-color;
  color: $site-color-white;
}

.tabs__content{
  display: none;
  border: 1px solid $tab-accent-color;
  padding: 10px;
  margin-bottom: 20px;
}

.tabs__content.current{
  display: inherit;
}
