#theme-switcher {
  position: relative;

  > .dropdown-content {
    right: -0.5rem;

    .material-symbols {
      font-size: 20px;
    }
  }

  @at-root body:not(.dark-mode):not(.auto-mode) & {
    button[data-theme="light"] {
      background-color: var(--site-primary-color-highlight);
    }
  }

  @at-root body.dark-mode:not(.auto-mode) & {
    button[data-theme="dark"] {
      background-color: var(--site-primary-color-highlight);
    }
  }

  @at-root body.auto-mode & {
    button[data-theme="auto"] {
      background-color: var(--site-primary-color-highlight);
    }
  }
}
