@use '../base/variables' as *;

.site-toc {
  ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    flex-direction: column;
  }

  &__title {
    font-family: $site-font-family-alt;
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
}

//noinspection CssReplaceWithShorthandSafely
#site-toc--side {
  padding: $site-content-top-padding;
  padding-left: $site-content-top-padding / 2;

  display: none;
  position: sticky;
  top: $site-header-height;
  order: 2;
  width: 15rem;
  min-width: 15rem;
  height: fit-content;
  max-height: calc(100vh - 3.25rem);
  overflow-y: auto;
  overflow-wrap: break-word;
  z-index: 5;

  @media (min-width: 1200px) {
    display: block;
  }

  .toc-entry {
    padding-bottom: 0.5rem;
    font-size: .875rem;

    .nav {
      padding-top: 0.5rem;
      padding-left: 1rem;
      display: block;
    }
  }

  .nav-link {
    color: $site-color-body-light;
    font-size: .875rem;
    line-height: normal;
    padding: 1px 0;

    &:hover {
      color: $site-color-primary;
    }

    &.active {
      color: $site-color-primary;

      &:hover {
        color: $flutter-color-dark-blue;
      }
    }
  }

  body.hide_toc & {
    display: none;
  }
}

#site-toc--inline {
  background: #f5f5f7;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;

  @media (min-width: 1200px) {
    display: none;
  }

  .toc-entry ul {
    padding-left: 1rem;
  }

  > .section-nav {
    margin-bottom: 0.25rem;
  }

  &.toc-collapsible {
    .site-toc--inline__toggle {
      float: right;
    }

    .toc-toggle-down, .toc-toggle-more-items {
      display: none;
    }

    .toc-toggle-more-items {
      float: unset;
    }

    .toc-toggle-up, .toc-toggle-down, .toc-toggle-more-items {
      user-select: none;
      cursor: pointer;
    }

    &.toc-collapsed {
      .section-nav {
        max-height: 72px;
        overflow: hidden;
      }

      .toc-toggle-up {
        display: none;
      }

      .toc-toggle-down, .toc-toggle-more-items {
        display: inline-block;
      }
    }
  }
}
