@use '../base/variables' as *;

#toc-top {
  font-family: $site-font-family-ui;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: 1200px) {
    display: none;
  }

  position: sticky;
  top: $site-header-height + 0.1rem;

  background: $site-color-white;
  border-bottom: 0.1rem solid $sidenav-divider-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);

  font-size: 0.875rem;
  z-index: $site-z-subnav;
  padding: 2px;

  > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.25rem;
    padding: .35rem .7rem;
    width: 100%;

    > span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .material-symbols {
      user-select: none;
      color: $site-color-nav-links;
      font-size: 20px;
    }
  }

  .toc-intro {
    .material-symbols {
      margin-right: 0.25rem;
    }
  }

  .toc-current {
    display: none;

    @media (min-width: 320px) {
      display: flex;
    }
  }

  #current-header {
    color: $site-color-nav-links;
  }

  .dropdown-content {
    overflow-y: scroll;
    scrollbar-width: thin;
    min-width: 18rem;
    max-width: 24rem;
    top: 2.8rem;
    left: 0.7rem;
    max-height: calc(100vh - 7.5rem);

    padding: 0.2rem 0.4rem;
    overscroll-behavior: contain;

    > a {
      margin: 0.4rem 0;
      padding: 0.1rem;
      font-size: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $site-color-nav-links;
      font-weight: 500;

      .material-symbols {
        font-size: 1.5rem;
        user-select: none;
      }

      span:last-child {
        margin-left: 3px;
      }

      &:hover {
        color: $site-color-primary;
      }

      &:active {
        color: color-mix(in srgb, $site-color-primary, #000 16%);
      }
    }

    > nav {
      padding: 0.6rem 0 0.8rem;
    }
  }
}
