@use 'variables' as *;
@use '../vendor/bootstrap';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.container main {
  overflow-x: hidden;
}

h1 {
  margin-bottom: bootstrap.bs-spacer(12);
}

h2 {
  clear: both;
}

dd {
  margin-bottom: .75rem;
  margin-left: 1rem;
}

img {
  max-width: 100%;
  max-height: 75vh;

  &[width][height] {
    height: auto;
  }
}

picture {
  max-height: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;

  .card {
    overflow: hidden;
    max-width: 50vw;
  }

  .card-body img {
    width: 72px;
    height: 72px;
  }

  .card-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      z-index: 1;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &.wide {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &.narrow {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

.card-footer.card-footer--transparent {
  border: none;
  background-color: transparent;
}

.card-footer.card-footer--links {
  > *:not(:last-child) {
    margin-right: bootstrap.bs-spacer(4);
  }
}

.card-title-material-3 {
  color: $site-color-body;
}

.d-block.h1 > .material-symbols {
  font-size: 3rem;
}

.card-image-holder-material-3 {
  align-items: center;
  z-index: -1;
  background-size: 0;
  opacity: .999;
  background-color: var(--bg-color, white);

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    z-index: 1;
  }
}

.card-image-material-3-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .25s ease;
  z-index: -1;

  img {
    width: 100%;
    max-height: 100%;
    z-index: -1;
  }
}

.card-image-holder-material-3:hover .card-image-material-3-hover {
  opacity: 1;
}

.card-app-type {
  border-color: $site-color-nav-links;
}

.fixed-col {
  @include bootstrap.media-breakpoint-up(md) {
    bottom: 0;
    overflow-y: auto;
    position: absolute; // position will be fixed once js has initialized
    top: 0;
  }
}

.material-symbols {
  font-family: $site-font-family-icon;
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;

  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.site-mobile-screenshot {
  display: block;
  margin: 0 auto;
  max-height: none;
  max-width: 100%;
  @include bootstrap.media-breakpoint-up(xs) {
    max-width: bootstrap.breakpoint-min(xxs);
  }

  &--border { border: 1px solid $site-color-light-grey; }
}

.site-image-right {
  display: block;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 100%;

  &.site-figure {
    max-height: none;
  }

  @include bootstrap.media-breakpoint-up(md) {
    float: right;
    margin: 0 0 bootstrap.bs-spacer(10) bootstrap.bs-spacer(10);
    max-height: none;
    max-width: calc((100%/2.5) - #{bootstrap.bs-spacer(10)});
  }
}

.site-figure {
  display: flex;
  justify-content: center;

  .site-figure-container {
    flex: 0 1 auto;
    max-width: 100%;

    img { width: 100%; }

    figcaption {
      margin-top: bootstrap.bs-spacer(4);
      text-align: center;
    }
  }
  .site-figure-container-lg {
    flex: 0 1 auto;
    width: 100%;

    img { width: 100%; }

    figcaption {
      margin-top: bootstrap.bs-spacer(4);
      text-align: center;
    }
  }
}

.list-image {
  width: 48px;
  margin: 0.25rem;
}

.text-icon {
  margin: 0 0.125rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
}

.site-illustration {
  // Illustrations should be visible in their entirety without the need
  // for scrolling up and down.
  max-height: 60vh;
}

.btn.btn-icon {
  align-items: center;
  display: flex;
  justify-content: center;

  .material-symbols {
    margin-right: bootstrap.bs-spacer(2);
  }
}

.btn.btn-cta {
    font-size: 18px;
    font-weight: 500;
    padding: bootstrap.bs-spacer(4) bootstrap.bs-spacer(6);

    @include bootstrap.media-breakpoint-up(sm) {
      min-width: 250px;
    }
  }

.embedded-video-wrapper {
  width: 100%;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  position: relative;

  &__frame {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.table-wrapper {
  overflow-x: auto;
}

// If table head has empty children, just hide it
// since markdown-it-table doesn't support headless tables.
thead:has(th:empty) {
  display: none;
}

.searchbar {
  > * {
    max-width: 640px;
    width:100%
  }
}

.install-help {
  text-align: right;
  margin-top: -2.5rem;

  a {
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .material-symbols {
    font-size: 20px;
    margin-right: 0.125rem;
  }
}

blockquote {
  background-color: $site-color-codeblock-bg;
  padding: bootstrap.bs-spacer(3) bootstrap.bs-spacer(4);
  border-left: solid 5px bootstrap.$border-color;
  margin-bottom: bootstrap.bs-spacer(4);

  p {
    margin-bottom: 0;
  }
}

details {
  margin-bottom: 0.75rem;

  > summary {
    font-weight: 500;
    user-select: none;

    &:hover {
      color: $site-color-primary;
    }
  }

  &[open] {
    margin-bottom: unset;

    > summary {
      margin-bottom: 0.75rem;
    }
  }

  > :not(:first-child) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

summary {
  margin-bottom: 1rem;
}

main {
  ol + img, ul + img, ol + p, ul + p, p + p + img,
  li:not(.toc-entry, .breadcrumb-item, .nav-item):last-child, ul + p:last-child {
    margin-bottom: 1rem;
  }
}

td ol, td ul, td dl, td p {
  margin-bottom: 0;
}

p + ul, p + ol, p + dl {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

td ol, td ul, td dl, td p {
  margin-bottom: 0;
}

.figure-caption {
  font-size: bootstrap.$font-size-sm;
  font-style: italic;
  color: #041E3C;
}

aside {
  .alert {
    h2, h3, h4, h5, h6 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
    }  
  }
}

.card-os-bug {
  position: relative;
  ::before {
    content: "";
    position: absolute;
    top: 0.5rem; 
    left: 0.5rem; 
    width: 24px; 
    height: 24px;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    z-index: 1; /* Place in front of card */
  }
}

.card-macos {
  @extend .card-os-bug;
  ::before {
    background-image: url("/assets/images/docs/brand-svg/macos-bug.svg");
  }
}

.card-windows {
  @extend .card-os-bug;
  ::before {
    background-image: url("/assets/images/docs/brand-svg/windows-bug.svg");
  }
}

.card-linux {
  @extend .card-os-bug;
  ::before {
    background-image: url("/assets/images/docs/brand-svg/linux.svg");
  }
}

.card-chromeos {
  @extend .card-os-bug;
  ::before {
    background-image: url("/assets/images/docs/brand-svg/chromeos.svg");
  }
}

#skip {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 2000;
  padding: 1rem;
  background-color: $site-color-primary;
  color: $site-color-white;
  border-radius: 0.5rem;
  transform: translateY(-5rem);
}

#skip:focus {
  opacity: 1;
  transform: translateY(0);
}

#site-content-title {
  scroll-margin-top: 5rem;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .video-intro {
    font-weight: 500;
    padding: 0 0.75rem;
    text-wrap: pretty;
  }
}

.footnote-ref a {
  scroll-margin-top: 6rem;
}

