@use 'variables' as *;

:root {
  --site-interaction-base-values: 0 0 0;
  --focus-outline-color: #1967D2;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $site-font-family-base;
  overflow-x: hidden;
  line-height: 1.5;
  color: $site-color-body;
}

.container main {
  overflow-x: hidden;
}

#site-below-header {
  display: flex;
  flex-direction: column;
}

#site-main-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}

h2 {
  clear: both;
}

dd {
  margin-bottom: .75rem;
  margin-left: 1rem;
}

img {
  max-width: 100%;
  max-height: 75vh;

  &[width][height] {
    height: auto;
  }
}

picture {
  max-height: 100%;
}

.material-symbols {
  font-family: $site-font-family-icon;
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;

  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  &.ms-filled {
    font-variation-settings: 'FILL' 1;
  }
}

.site-mobile-screenshot {
  display: block;
  margin: 0 auto;
  max-height: none;
  max-width: 100%;

  @media (min-width: 480px) {
    max-width: 320px;
  }

  &--border { border: 1px solid $site-color-light-grey; }
}

.site-image-right {
  display: block;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 100%;

  @media (min-width: 768px) {
    float: right;
    margin: 0 0 2.5rem 2.5rem;
    max-height: none;
    max-width: calc((100%/2.5) - 2.5rem);
  }
}

main figure {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-block-end: 1rem;

  &.site-image-right {
    max-height: none;
  }

  .site-figure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
    max-width: 100%;
    text-align: center;

    img {
      display: block;
      width: 100%;
    }

    figcaption {
      margin-top: 0.5rem;
    }
  }

  figcaption {
    font-size: 0.875em;
    font-style: italic;
    text-align: center;
  }

  &.code-and-image {
    gap: 0.25rem;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
     width: 100%;

      &:last-child {
        text-align: center;
      }
    }

    @media(min-width: 769px) {
      > div {
        &:first-child {
          flex: 0 0 58%;
          max-width: 58%;
        }

        &:last-child {
          flex: 0 0 40%;
          max-width: 40%;
        }
      }

      figcaption {
        text-align: left;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.text-icon {
  margin: 0 0.125rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
}

.site-illustration {
  // Illustrations should be visible in their entirety without the need
  // for scrolling up and down.
  max-height: 60vh;
}

table {
  td, th {
    padding: .25rem;
  }
}

.table {
  width: 100%;
  border-spacing: 0;

  thead {
    vertical-align: bottom;

    th {
      border-bottom: 1px solid $site-color-light-grey;
      text-align: start;
    }
  }

  tbody {
    tr {
      vertical-align: top;

      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  td, th {
    border-top: 1px solid $site-color-light-grey;
    padding: .75rem;
  }
}

// If table head has empty children, just hide it
// since markdown-it's tables don't support headless tables.
thead:has(th:empty) {
  display: none;
}

.table-wrapper, .scrollable-table {
  overflow-x: auto;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.scrollable-table {
  overflow-y: scroll;
  max-height: 20rem;

  table {
    width: 100%;
  }
}

blockquote {
  background-color: $site-color-codeblock-bg;
  padding: 0.75rem 1rem;
  border-left: solid 5px $site-color-light-grey;
  margin: 0;
  margin-block-end: 1rem;

  p {
    margin-bottom: 0;
  }
}

details {
  margin-bottom: 0.75rem;

  > summary {
    font-weight: 500;
    user-select: none;
    border-radius: 0.125rem;

    &:hover {
      color: $site-color-primary;
      cursor: pointer;
    }
  }

  &[open] {
    margin-bottom: unset;

    > summary {
      margin-bottom: 0.75rem;
    }
  }

  > :not(:first-child) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

main {
  ol + img, ul + img, ol + p, ul + p, p + p + img,
  li:not(.toc-entry, .breadcrumb-item, .nav-item):last-child, ul + p:last-child {
    margin-bottom: 1rem;
  }
}

td ol, td ul, td dl, td p {
  margin-bottom: 0;
}

p + ul, p + ol, p + dl {
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
}

td ol, td ul, td dl, td p {
  margin-bottom: 0;
}

.figure-caption {
  font-size: .875rem;
  font-style: italic;
  color: #041E3C;
}

.card-os-bug {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    z-index: 1; /* Place in front of card */
  }
}

.card-macos {
  @extend .card-os-bug;
  &::before {
    background-image: url("/assets/images/docs/brand-svg/macos-bug.svg");
  }
}

.card-windows {
  @extend .card-os-bug;
  &::before {
    background-image: url("/assets/images/docs/brand-svg/windows-bug.svg");
  }
}

.card-linux {
  @extend .card-os-bug;
  &::before {
    background-image: url("/assets/images/docs/brand-svg/linux.svg");
  }
}

.card-chromeos {
  @extend .card-os-bug;
  &::before {
    background-image: url("/assets/images/docs/brand-svg/chromeos.svg");
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .video-intro {
    font-weight: 500;
    padding: 0 0.75rem;
    text-wrap: pretty;
  }
}

.footnote-ref a {
  scroll-margin-top: 6rem;
}

.footnote-item {
  scroll-margin-top: 5rem;
}
