#site-content {
  background-color: var(--site-surface);
  overflow-x: hidden;
  width: 100%;

  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  @media(max-width: 576px) {
    border-radius: 0;
  }

  li, dd {
    > p {
      margin-bottom: 0.5rem;
    }
  }

  ol, ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  > {
    p, pre, aside, iframe, img, figure, .card-grid, .table-wrapper {
      margin-bottom: 1rem;
    }
  }

  dl {
    dt {
      font-weight: 500;
    }

    dd {
      margin-bottom: 1rem;
    }
  }

  details {
    margin-bottom: 0.75rem;

    > summary {
      font-weight: 500;
      user-select: none;
      cursor: pointer;
      margin-bottom: 1rem;

      &:hover {
        color: #0468d7;
      }

      &:active {
        color: #03448c;
      }
    }

    &[open] {
      margin-bottom: unset;

      > summary {
        margin-bottom: 0.75rem;
      }
    }

    > :not(:first-child) {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }

  blockquote {
    background-color: var(--site-surface-container-high);
    padding: 1rem;
    border-left: solid 0.25rem var(--site-outline-variant);
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
    }
  }

}
