body {
  --site-ui-font-family: 'Google Sans', 'Roboto', ui-sans, sans-serif;
  --site-body-font-family: 'Google Sans Text', 'Roboto', ui-sans, sans-serif;
  --site-code-font-family: 'Google Sans Mono', 'Roboto Mono', ui-monospace, monospace;

  --site-square-radius: 0.5rem;

  --site-surface: rgb(249 249 255);
  --site-on-surface: rgb(25 28 34);
  --site-surface-variant: rgb(222 226 242);
  --site-on-surface-variant: rgb(66 71 83);

  --site-primary: rgb(0 69 148);
  --site-surface-tint: rgb(0 91 191);
  --site-on-primary: rgb(255 255 255);

  --site-inverse-primary: rgb(172 199 255);
  --site-on-inverse-primary: rgb(0 47 104);

  --site-primary-container: rgb(4 104 215);
  --site-on-primary-container: rgb(255 255 255);
  --site-secondary: rgb(72 94 137);
  --site-on-secondary: rgb(255 255 255);
  --site-secondary-container: rgb(192 211 255);
  --site-on-secondary-container: rgb(39 62 103);

  --site-surface-container-lowest: rgb(255 255 255);
  --site-surface-container-low: rgb(242 243 253); // Outside content
  --site-surface-container: rgb(236 237 247); // Card background
  --site-surface-container-high: rgb(230 232 241); // Search, button, modal
  --site-surface-container-highest: rgb(225 226 236); // (bright) button

  --site-outline: rgb(114 119 133); // Button border
  --site-outline-variant: rgb(194 198 214);

  --site-interaction-base-values: 0 0 0;

  --flutter-wordmark-color: rgb(74 74 74);

  --code-highlight-bg-color: rgba(255, 245, 156, 0.8);
  --alert-info: #cbebf9;
  --alert-tip: #b0eda6;
  --alert-important: #e2dbff;
  --alert-warning: #fbe5a5;
  --alert-error: #fde9ee;

  &:not(.dark-mode) .dark-mode-visible {
    display: none;
  }

  &.dark-mode {
    --site-surface: rgb(16 19 26);
    --site-on-surface: rgb(225 226 236);
    --site-surface-variant: rgb(66 71 83); // Divider
    --site-on-surface-variant: rgb(194 198 214);

    --site-primary: rgb(172 199 255);
    --site-surface-tint: rgb(172 199 255);
    --site-on-primary: rgb(0 47 104);

    --site-inverse-primary: rgb(0 91 191);
    --site-on-inverse-primary: rgb(255 255 255);

    --site-primary-container: rgb(0 95 198);
    --site-on-primary-container: rgb(255 255 255);
    --site-secondary: rgb(176 199 248);
    --site-on-secondary: rgb(24 48 88);
    --site-secondary-container: rgb(38 61 102);
    --site-on-secondary-container: rgb(188 209 255);

    --site-surface-container-lowest: rgb(11 14 21);
    --site-surface-container-low: rgb(25 28 34); // Outside content
    --site-surface-container: rgb(29 32 38); // Card background
    --site-surface-container-high: rgb(39 42 49); // Search, button, modal
    --site-surface-container-highest: rgb(50 53 60); // (bright) button

    --site-outline: rgb(140 144 159); // Button border
    --site-outline-variant: rgb(66 71 83);

    --site-interaction-base-values: 255 255 255;

    --flutter-wordmark-color: rgb(255 255 255);

    --code-highlight-bg-color: rgba(185, 174, 0, 0.2);
    --alert-info: #043875;
    --alert-tip: #065517;
    --alert-important: #4a00b4;
    --alert-warning: #663f09;
    --alert-error: #7a0c17;

    .light-mode-visible {
      display: none;
    }

    .shiki, .shiki span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }

  background-color: var(--site-surface-container);
  color: var(--site-on-surface);
}