// Flutter-site specific style overrides

.site-toc--button__page-top { display: none; }

.highlight .gp { user-select: none; }


// NOTE external link icons in toc were tiny - 
// correct sizing and spacing
.site-sidebar .nav-item .nav-link span {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12px;
  color: inherit;
  opacity: 0.8;
}

// TODO this should be added to shared/toc
.site-toc--inline,
.site-toc--side {
  > ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    
    ul {
      list-style: none;
      margin-left: 15px;
      padding-left: 0;
      padding-top: 8px;
    }
  }
}
