// Colors
$flutter-color-blue: #043875;
$flutter-color-teal: #158477;
$flutter-color-blue-on-dark: #B8EAFE;
$flutter-color-blue-500: #0468D7;
$flutter-color-blue-600: #0553B1;
$flutter-color-dark-blue: #042B59;
$flutter-color-grey-500: #E8EAED;
$flutter-color-fuchsia: #E64637;
$flutter-color-yellow: #FFF275;
$flutter-color-light-blue: #E7F8FF;
$flutter-dark-blue-texture: #232C33;
$site-color-black: #000;
$site-color-white: #FFF;
$site-color-codeblock-bg: #F8F9FA;
$site-color-light-grey: #DADCE0;
$site-color-nav-links: #6E7274;
$site-color-body: #212121; // Poor contrast with links
$site-color-body-light: rgba(0, 0, 0, .8);
$site-color-footer: #303c42;
$site-color-primary: $flutter-color-blue-500;
$twitter-color: #60CAF6;

// Fonts
$font-size-base-weight: 400;
$site-font-family-base: 'Google Sans Text', 'Roboto', sans-serif;
$site-font-family-alt: 'Google Sans', 'Google Sans Text', 'Roboto', sans-serif;
$site-font-family-icon: 'Material Icons';
$site-font-family-monospace: 'Google Sans Mono', 'Roboto Mono', monospace;
$site-font-icon: 24px/1 $site-font-family-icon;

// Layout
$site-header-height: 66px;
$site-footer-md-default-height: 140px;
$site-content-top-padding: 40px;
$site-content-max-width: 960px;
$site-sidebar-top-padding: 24px;
$site-sidebar-side-padding: 16px;
$site-nav-mobile-side-padding: 20px;
$site-snackbar-padding: 20px;
$site-spacer: 1rem
