@use 'sass:color';

// Colors
$flutter-color-blue: #043875;
$flutter-color-teal: #158477;
$flutter-color-blue-on-dark: #B8EAFE;
$flutter-color-blue-500: #0468D7;
$flutter-color-blue-600: #0553B1;
$flutter-color-dark-blue: #042B59;
$flutter-color-grey-500: #E8EAED;
$flutter-color-fuchsia: #E64637;
$flutter-color-yellow: #FFF275;
$flutter-color-yellow-300: #FFF59C;
$flutter-color-light-blue: #E7F8FF;
$flutter-dark-blue-texture: #232C33;
$site-color-black: #000;
$site-color-white: #FFF;
$site-color-codeblock-bg: #F8F9FA;
$site-color-light-grey: #DADCE0;
$site-color-sub-grey: #8d9399;
$site-color-nav-links: #6a6f71;
$site-color-body: #212121; // Poor contrast with links
$site-color-body-light: color.scale($site-color-body, $lightness: 20%);
$site-color-body-caption: color.scale($site-color-body, $lightness: 30%);
$site-color-footer: #303c42;
$site-color-primary: $flutter-color-blue-500;
$site-color-panel-background: color.scale($site-color-primary, $lightness: 95%);
$sidenav-divider-color: #e7e8ed;

// Fonts
$font-size-base-weight: 400;
$site-font-family-base: 'Google Sans Text', 'Roboto', sans-serif;
$site-font-family-ui: 'Google Sans', 'Google Sans Text', 'Roboto', sans-serif;
$site-font-family-icon: 'Material Symbols Outlined';
$site-font-family-monospace: 'Google Sans Mono', 'Roboto Mono', monospace;
$site-font-icon: 24px/1 $site-font-family-icon;

// Layout
$site-header-height: 4rem;
$site-inline-toc-height: 2.5rem;
$site-content-top-padding: 2rem;
$site-content-max-width: 960px;
$site-spacer: 1rem;

$site-z-sidenav: 1020;
$site-z-subnav: 1015;
$site-z-header: 1030;
$site-z-dropdown: 1050;

// Alerts
$alert-success-bg:        #f1fbf9;
$alert-success-fg:        #155723;
$alert-info-bg:           #e7f8ff;
$alert-warning-bg:        #fcf8e3;
$alert-danger-bg:         #fef3f6;
$alert-danger-fg:         #cb1425;

// Components
$chip-container-color: transparent;
$chip-border-color: rgba(0,0,0,.35);
$chip-selected-container-color: $flutter-color-blue-on-dark;
$chip-text-color: #3a3a3a;

// Tables
$table-subhead-fill-color: $site-color-panel-background;
$table-mainhead-fill-color: $site-color-codeblock-bg;

