name: deferred_components
description: Samples to showcase deferred component imports/loading.
publish_to: none

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.24.9

flutter:
  uses-material-design: true
