name: deferred_components
description: Samples to showcase deferred component imports/loading.
publish_to: none

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.1

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter
  test: ^1.24.9

flutter:
  uses-material-design: true
