// Overrides the _prism.scss styles,
// so that _prism.scss can be easily regenerated.

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: inherit;
	font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre {
    overflow-x: auto;
    padding: 8px 12px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

//
// Rouge / pygments classes (https://github.com/jneen/rouge)
//

$generic-output-color: white;

@mixin console-base($color: $light-green-A700) {
  background: $grey-900;
  color: $color;
}

.language-console .highlight,
.highlight > code.language-console
 {
  @include console-base;
  .go { color: $generic-output-color; } /* Generic.Output */
}

pre.console-output {
  @include console-base($generic-output-color)
}

// `terminal` is like `console` with prompts and output colored differently
.language-terminal .highlight,
.highlight > code.language-terminal
{
  @include console-base;
  .gp { color: $grey-500; } /* Generic.Prompt */
  .nb { color: $light-green-600; } /* Name.Builtin */
  .go { color: $generic-output-color; } /* Generic.Output */
}
