// Styling for "What's the Point" blocks
.whats-the-point {
  background-color: $grey-color-light;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    &:nth-child(1) { font-weight: bold; }
  }
  > ul, > p {
    &:last-child { margin-bottom: 0; }
  }
}
