name: mocking
description: Use the Mockito package to mimic the behavior of services for testing.

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^1.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.6
  build_runner: ^2.4.15

flutter:
  uses-material-design: true
