name: platform_channels_examples
description: >-
  Examples showcasing how to use platform channels to
  communicate with the underlying native platforms.

publish_to: none

version: 1.0.0+1

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
