name: background_parsing
description: Background parsing

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0

dev_dependencies:
  example_utils:
    path: ../../../example_utils

flutter:
  uses-material-design: true
