<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-all">
        {% include logo.html %}
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
        <p class="terms">
          <a href="https://twitter.com/flutterio">@flutterio</a> &bull;
          <a href="mailto:{{ site.email }}">{{ site.email_name }}</a> &bull;
          <a href="/tos">terms</a> &bull;
          <a href="http://www.google.com/intl/en/policies/privacy/">privacy</a>
        </p>
      </div>
    </div>

  </div>

</footer>
