<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-all">
        {% include logo.html %}
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <p class="terms">
          <a href="/tos">Terms</a> |
          <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a>
        </p>
      </div>
    </div>

  </div>

</footer>
