<style>

table {
  margin: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  font-size: 14pt;
  font-weight: normal;
  vertical-align: super; 
  font-style: normal;
  padding-left: 3px;
  width: 300px;
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}

td {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    border-radius: 14px;
}
.the-abyss {  /* dark blue */
    background-color: #1976D2;
    border: 2px solid #1976D2;
}
.low-level {  /* dark blue */
    background-color: #1E88E5;
    border: 2px solid #1E88E5;
}

.med-level {  /* med blue */
    background-color: #42A5F5;
    border: 2px solid #42A5F5;
}

.high-level {  /* light blue */
    background-color: #90CAF9;
    border: 2px solid #90CAF9;
}

.simplelink {
    color: #616161;
    text-decoration: none}
}

a.simplelink:link {color: #757575;}

a.simplelink:hover {text-decoration: none}

}


</style>

<table cellpadding="0">
 <tr>
  <td class="high-level" align="center" width="50%">
    <a class="simplelink no_icon" href="https://docs.flutter.io/flutter/material/material-library.html">
      <div >Material
      </div>
    </a>
  </td>
  <td class="high-level" align="center" width="50%">
    <a class="simplelink no_icon" href="https://docs.flutter.io/flutter/cupertino/cupertino-library.html">
      <div>Cupertino
      </div>
    </a>
  </td>
</tr>
<tr>
  <td class="med-level" align="center" colspan="8">
    <a class="simplelink no_icon" href="https://docs.flutter.io/flutter/widgets/widgets-library.html">
      <div>Widgets
      </div>
    </a>
  </td>
</tr>

<tr>
  <td class="low-level" align="center" colspan="8">
    <a class="simplelink no_icon" href="https://docs.flutter.io/flutter/rendering/rendering-library.html">
      <div>Rendering
      </div>
    </a>
  </td>
</tr>

<tr>
  <td class="the-abyss" align="center" colspan="8" background-color="#1976D2">
      <div>&hellip;
      </div>
  </td>
</tr>
</table>
