name: json
description: Sample state management code.
publish_to: none

version: 1.0.0+1

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  json_annotation: ^4.9.0

dev_dependencies:
  build_runner: ^2.4.15
  json_serializable: ^6.9.5
