// Overrides the _prism.scss styles,
// so that _prism.scss can be easily regenerated.

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: inherit;
	font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre {
    overflow-x: auto;
    padding: 8px 12px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}