/**
 * Site header
 */
.site-header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 56px;
    background-color: white;
    color: #424242;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

    .project-status {
      vertical-align: -webkit-baseline-middle;
    }
}

.header-contents {
    padding-left: 24px;
    padding-right: 24px;
}

.homepage .header-contents {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0;

    @include media-query($content-width + 50px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.contents {
    padding: 56px 24px 24px 24px;
}

.site-title {
    font-size: 26px;
    margin-bottom: 0;
    margin-right: 9px;
    vertical-align: middle;
    line-height: 56px;

    &,
    &:visited {
        color: #424242;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #424242;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        @include media-query($on-palm) {
            color: $brand-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 10px;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            color: black;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            padding-top: 20px;

          input {
            margin-right: 5px;
          }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 10px;
        }

        &:hover {
            border: 1px solid $grey-color-light;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    background: #0091ea;
    color: white;

    a {
        color: white;
    }

    &__link-list {
        font-size: 14px;
        font-weight: 300;
    }
}

.logo {
  float: left;
  position: relative;
  margin-right: 20px;

  @include media-query($on-palm) {
      top: -15px;

      svg {
          width: 100px;
          height: 64px;
      }
  }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 14px;

        @include media-query($on-laptop) {
            font-size: 12px;
        }
    }
    
    a {
        hyphens: auto;
    }
}

/* Make fragment identifier links visible below the header. */
:target:before {
    content: "";
    display: block;
    height: 112px;
}
