{% assign cache_bust = site.time|date:'?v=%s' %}
{% assign page_url = page.url | regex_replace: '/index$|/index.html$|\.html$|/$' -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if short-title %}{{short-title}}{% else %}{{title}}{% endif %} | {{site.title}}</title>
    <link rel="icon" href="/assets/images/branding/flutter/icon/64.png" eleventy:ignore>
    <link rel="apple-touch-icon" href="/assets/images/branding/flutter/logo/flutter-logomark-320px.png" eleventy:ignore>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    {% unless strip_fonts == true -%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% endunless -%}

    {%- if isProduction == true -%}
      <meta name="google-site-verification" content="{{ site.google_site_verification }}">
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ site.google_tag_manager_id }}');
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics_id }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif -%}

    {% assign desc = description | default: site.description | strip_html | strip_newlines | truncate: 160 -%}
    {% unless desc and desc != '' -%}
      {% assign error = page.url | append: ' must have a description specified!' -%}
      {{ error | throw_error }}
    {% endunless %}

    {% assign og_image_path = image.path | default: layout.image.path | default: site.default_share_image -%}

    <meta name="description" content="{{desc | escape}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@flutterdev">

    <meta property="og:title" content="{{title | escape}}">
    <meta property="og:url" content="{{site.url | append: page_url}}">
    <meta property="og:description" content="{{desc | escape}}">
    <meta property="og:image" content="{{site.url | append: og_image_path}}" eleventy:ignore>

    {% unless strip_fonts == true -%}
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" />
    {% endunless -%}

    <script>
      window.__CALLBACKS = [];
    </script>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | append: cache_bust }}">
    {% if css -%}
    {% for cssFile in css -%}
      {% assign asset_path = '/assets/css/{{cssFile}}' -%}
      <link rel="stylesheet" href="{{ asset_path | append: cache_bust }}">
    <link rel="stylesheet" href="../../../../../../Downloads/css/light.css">
    {% endfor -%}
    {% endif -%}
  </head>
  <body{% if body_class %} class="{{ body_class }}"{% endif %}>
    {%- if isProduction == true -%}
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}"
        height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    {% endif -%}

    <a href="#document-title" id="skip-to-main" class="filled-button">
      Skip to main content
    </a>

    {% render cookie-notice.html %}

    {% render header.html %}

    <div id="site-below-header">
      <div id="site-main-row">
        <nav id="sidenav">
          {% render sidenav-level-1.html, url:page.url, nav:sidenav, base_id:"side", active_nav:activeNav %}
        </nav>
        <div id="content-and-toc">
          <div id="site-primary">
            {{ content }}
          </div>
          {% if toc != false -%}
            {% assign tocContents = content | generate_toc %}
            {% unless tocContents == null or tocContents == '' or tocContents.count < 2 -%}
            <aside id="side-menu">
              {% render side-toc.html, tocContents: tocContents %}
            </aside>
            {% endunless %}
          {% endif -%}
        </div>
        <div class="invisible-flex-item" aria-hidden="true"></div>
      </div>
      <footer id="site-footer">
        <div class="footer-main">
          <a class="flutter-logo" href="https://flutter.dev">
            <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter logo">
            <span>Flutter</span>
          </a>
          <div class="footer-social-links">
            <a href="https://medium.com/flutter" target="_blank" rel="noopener" title="Medium blog">
              <svg><use href="/assets/images/social/medium.svg#medium"></use></svg>
            </a>
            <a href="https://youtube.com/@flutterdev" target="_blank" rel="noopener" title="YouTube">
              <svg><use href="/assets/images/social/youtube.svg#youtube"></use></svg>
            </a>
            <a href="https://github.com/flutter" target="_blank" rel="noopener" title="GitHub">
              <svg><use href="/assets/images/social/github.svg#github"></use></svg>
            </a>
            <a href="https://twitter.com/FlutterDev" target="_blank" rel="noopener" title="X (Twitter)">
              <svg><use href="/assets/images/social/x.svg#x"></use></svg>
            </a>
          </div>
        </div>
        <div class="footer-tray">
          <div class="footer-licenses">Except as otherwise noted, this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>, and code samples are licensed under the <a href="https://opensource.org/licenses/BSD-3-Clause">3-Clause BSD License</a>.</div>
          <div class="footer-utility-links">
            <ul>
              <li><a href="/tos" title="Terms of use">Terms</a></li>
              <li><a href="/brand" title="Brand usage guidelines">Brand</a></li>
              <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Privacy policy">Privacy</a></li>
              <li><a href="/security" title="Security philosophy and practices">Security</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script src="{{ '/assets/js/tabs.js' | append: cache_bust }}"></script>
    <script src="{{ '/assets/js/main.js' | append: cache_bust }}"></script>
    <script src="{{ '/assets/js/archive.js' | append: cache_bust }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@oddbird/popover-polyfill@0.4.4/dist/popover.iife.min.js" integrity="sha512-ZiY64DaZxw9hJpLzrbQWfah5I5vyHZTG5EgsZ5bb3c5U9bCK5+t51p1DYt7fG8hR/ns+KuWBXFdTxjehQsFOoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% if js -%}
    {% for jsFile in js -%}
      <script src="{{ jsFile.url | default: js }}" {% if jsFile.defer %}defer{% endif %}></script>
    {% endfor -%}
    {% endif -%}
  </body>
</html>