<!DOCTYPE html>
<html lang="en">
  {% include head.html -%}

  <body class="{% if page.url == '/' %}homepage{% endif %}">
    {% include body.html -%}

    <div id="overlay-under-drawer"><!-- for the drawer on narrow screens --></div>

    {% include header.html -%}

    <!-- Page Content -->
    <div class="contents">
      <!-- Content Row -->
      <div class="lavish-row">

        <!-- Sidebar Column -->
        <div id="side-nav-container" class="col-md-3">
          {% include sidebar.html %}
        </div>

        {%- if page.url == '/' %}
        {% comment %} Homepage {% endcomment -%}

        <!-- Homepage Content Column -->
        <div class="col-md-12 main-contents">
          <div class="main-contents-body">
            {{content}}
          </div>
        </div>

        {%- else %}
        {% comment %} Regular page, not homepage {% endcomment -%}

        <!-- Content Column -->
        <div class="col-md-9 main-contents">
          <div class="main-contents-body">
            {{content}}
          </div>
        </div>

        {%- endif %}

      </div> <!-- /.row -->
    </div> <!-- /.container -->

    {%- include footer.html %}

    {% comment %}
    TODO(chalin): do we really need these. If so, integrate into main.js
    <script src="{{ "/js/sidebar_toggle.js" }}"></script>
    <script src="{{ "/js/customscripts.js" }}"></script>
    <script src="{{ "/js/prism.js" }}"></script>
    <script src="{{ "/js/tabs.js" }}"></script>
    <script src="{{ "/js/archive.js" }}"></script>
    {% endcomment -%}
    <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=at3ul57xpub2vk3oxt2ytw365i"></script>
  </body>
</html>
