---
layout: base
---

{% if toc != false -%}
{% assign tocContents = content | generate_toc %}
{% if tocContents == null or tocContents == '' -%}
{% assign toc = false %}
{% endif -%}
{% endif -%}

<div id="site-main-row">
  <div id="sidenav" class="site-sidebar">
    {% render sidenav-level-1.html, url:page.url, nav:sidenav, activeNav:activeNav %}
  </div>

  <main class="site-content">
    {% if toc != false -%}
    {% include side-toc.html tocContents=tocContents %}
    {% endif -%}
    <article>
      <header class="site-content__title" id="site-content-title">
        <h1 id="document-title">{{ title }}</h1>
        {% if show_breadcrumbs != false -%}
        {% include breadcrumbs.html %}
        {% endif -%}
      </header>

      {% if toc != false -%}
      {% include inline-toc.html tocContents=tocContents -%}
      {% endif -%}
      {{ content }}

      {% include next-prev-nav.html prev=prev, next=next %}

      {% include page-github-links.html %}
    </article>
  </main>
</div>
