name: basic_staggered
publish_to: none
description: An introductory example to staggered animations.

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  example_utils:
    path: ../../example_utils
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
