name: integration_test_migration
description: A new Flutter project.
publish_to: none

version: 1.0.0+1

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  example_utils:
    path: ../example_utils
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.24.9

flutter:
  uses-material-design: true

  assets:
    - assets/plants.json
