name: text_field_focus
description: Sample code for focus cookbook recipe.

resolution: workspace
environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
