name: scrolling
description: Scrollable widget testing.

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.5
  path: ^1.9.1
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
