name: update_data
description: Update Data

environment:
  sdk: ^3.1.0-0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0

dev_dependencies:
  flutter_lints: ^2.0.2

flutter:
  uses-material-design: true
