name: errors
description: An error handling example.
publish_to: none

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.25.4

dev_dependencies:
  example_utils:
    path: ../../example_utils
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
