name: reading_writing_files
description: Reading and Writing Files

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.2

dev_dependencies:
  example_utils:
    path: ../../../example_utils
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
