name: plugin_api_migration
description: A new Flutter project.

publish_to: none

version: 1.0.0+1

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  css_colors: ^1.1.7
  url_launcher: ^6.3.2
  battery: ^2.0.3
  flutter_test:
    sdk: flutter
  path: ^1.9.1
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
