
// -- Vars/config
@import "base/variables";

// -- Vendor (NPM)
@import 'shared/bootstrap_config_shared';
@import "vendor";

// -- Base
@import 'base/base';
@import 'base/bootstrap_adjust';

// -- Components

// NOTE this one belongs in site-shared
@import 'base/material_colors';

// Shared / Symlinked (!ordered!)
@import 'shared/prettify_shared';
@import 'shared/code_shared';
@import 'shared/header_shared';
@import 'shared/sidebar_shared';
@import 'shared/toc_shared';

// (alpha ordered)
@import 'components/animations';
@import 'components/banner';
@import 'components/code';
@import 'components/content';
@import 'd2h'; // TODO too small to be included as an entire file
@import 'components/footer';
@import 'components/next-prev-nav';
@import 'components/snackbar';
@import 'components/tabs';

// -- Pages

// Page types
@import 'landing-page';

// Marketing (alpha ordered)
@import 'pages/404';
@import 'pages/clock';
@import 'pages/create';
@import 'pages/subscribe';

// Docs (alpha ordered)
@import 'docs/books';

// -- Overrides
@import 'base/site_overrides';
