<header class="site-header">
  <div class="container-fluid header-contents">
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-bars" id="sidebar-toggle-button" aria-hidden="true" style="display:none"></i>
        <img src="/images/flutter-mark-square-100.png" alt="Flutter Logo" width="40" height="40" style="vertical-align:middle">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
          <a href="#" class="menu-icon">
            <i class="material-icons-extended">more_vert</i>
          </a>
          <div class="trigger">
            <a class="page-link" href="/docs/">文档</a>
            <a class="page-link" href="https://github.com/flutter/flutter">GitHub</a>
            <a class="page-link" href="https://pub.dartlang.org/flutter">库</a>
            <a class="page-link" href="/support/">支持</a>
            <a class="page-link" href="http://flutter-dev.cn">论坛</a>
            <form action="/search/" class="nav-searchbox" id="cse-search-box" style="display: inline">
              <input type="hidden" name="cx" value="007067728241810524621:gm6vraqlc8c">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="hl" value="en">
              <input type="search" name="q" id="q" autocomplete="off" placeholder="搜索">
            </form>
          </div>
        </nav>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</header>
