<ul id="mysidebar" class="nav">

  <li class="sidebar-title">入门</li>

    <ul class="sidebar-items">
      <li><a href="/get-started/install/">1: 安装</a></li>
      <li><a href="/get-started/editor/">2: 配置编辑器</a></li>
      <li><a href="/get-started/test-drive/">3: 试运行</a></li>
      <li><a href="/get-started/codelab/">4: 编写第一个 Flutter 应用</a></li>
      <li><a href="/get-started/learn-more/">5: 学习更多</a></li>
    </ul>

  <li class="sidebar-title">构建 UI</li>

    <ul class="sidebar-items">
      <li><a href="/widgets-intro/">框架预览</a></li>
      <li><a href="/widgets/">Widget 目录</a></li>
      <li><a href="/cookbook/">小案例</a></li>
      <li><a href="/catalog/samples/">示例目录</a></li>
      <li><a href="https://codelabs.developers.google.com/codelabs/flutter/index.html#0">构建漂亮的用户界面 - Codelab</a></li>
      <li><a href="/tutorials/layout/">构建布局 - 教程</a></li>
      <li><a href="/tutorials/interactive/">添加交互 - 教程</a></li>
      <li><a href="/web-analogs/">HTML/CSS 模式</a></li>
      <li><a href="/flutter-for-android/">Android 开发者参考</a></li>
      <li><a href="/flutter-for-react-native/">React Native 开发者参考</a></li>
      <li><a href="/gestures/">手势</a></li>
      <li><a href="/animations/">动画</a></li>
      <li><a href="/custom-fonts/">自定义字体</a></li>
      <li><a href="/layout/">框约束</a></li>
      <li><a href="/assets-and-images/">资源与图像</a></li>
      <li><a href="/text-input/">文本输入</a></li>
      <li><a href="/routing-and-navigation/">界面路由与导航</a></li>
      <li><a href="/tutorials/internationalization">国际化</a></li>
    </ul>

  <li class="sidebar-title">使用设备与 SDK 中的 API</li>

    <ul class="sidebar-items">
      <li><a href="/using-packages/">使用扩展包</a></li>
      <li><a href="/developing-packages/">开发扩展包</a></li>
      <li><a href="/platform-channels/">平台特定代码</a></li>
      <li><a href="/reading-writing-files/">文件的读写</a></li>
      <li><a href="/networking/">网络和 HTTP</a></li>
      <li><a href="/json/">JSON 和序列化</a></li>
      {% comment %}
      <!-- Temporarily removed because the codelab is broken and possibly
           about to be replaced by a completely new one. -->
      <li><a href="https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html#0">Firebase for Flutter - Codelab</a></li>
      {% endcomment %}
    </ul>

  <li class="sidebar-title">开发与工具</li>

    <ul class="sidebar-items">
      <li><a href="/using-ide/">Flutter IDE 的使用</a></li>
      <li><a href="/hot-reload/">热重载的使用</a></li>
      <li><a href="/testing/">应用测试</a></li>
      <li><a href="/debugging/">应用调试</a></li>
      <li><a href="/inspector/">用户界面检查</a></li>
      <li><a href="/android-release/">编译正式版的 Android 应用</a></li>
      <li><a href="/ios-release/">编译正式版的 iOS 应用</a></li>
      <li><a href="/upgrading/">升级 Flutter</a></li>
      <li><a href="/formatting/"> 格式化代码</a></li>
    </ul>

  <li class="sidebar-title">更多细节</li>

    <ul class="sidebar-items">
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/technical-overview">技术一览</a></li>
      <li><a href="https://docs.google.com/presentation/d/1B3p0kP6NV_XMOimRV09Ms75ymIjU5gr6GGIX74Om_DE/edit?usp=sharing">神奇的 Flutter - 幻灯片</a></li>
      <li><a href="https://docs.google.com/presentation/d/1cw7A4HbvM_Abv320rVgPVGiUP2msVs7tfGbkgdrTy0I/edit?usp=sharing">架构图</a></li>
      <li><a href="https://www.bilibili.com/video/av14430321/">Flutter 框架层设计 <i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
      <li><a href="https://www.bilibili.com/video/av6269773/">Flutter 的渲染管线 <i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
    </ul>

</ul>
