name: widgets_intro
description: Sample state management code.

version: 1.0.0+1

environment:
  sdk: ^3.0.3

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
