name: interactive
description: Sample code for interactive.md

environment:
  sdk: ^3.6.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  example_utils:
    path: ../../example_utils

flutter:
  uses-material-design: true
