<ul id="mysidebar" class="nav">

  <li class="sidebar-title">Empezar</li>

    <ul class="sidebar-items">
      <li><a href="/get-started/install/">1: Instalación</a></li>
      <li><a href="/get-started/editor/">2: Configuración del editor</a></li>
      <li><a href="/get-started/test-drive/">3: Prueba inicial</a></li>
      <li><a href="/get-started/codelab/">4: Escribe tu primera app</a></li>
      <li><a href="/get-started/learn-more/">5: Aprender más</a></li>
    </ul>

  <li class="sidebar-title">Construye UIs</li>

    <ul class="sidebar-items">
      <li><a href="/widgets-intro/">Paseo por el framework</a></li>
      <li><a href="/widgets/">Catálogo de Widgets</a></li>
      <li><a href="/cookbook/">Cookbook</a></li>
      <li><a href="/catalog/samples/">Catálogo de Muestra</a></li>
      <li><a href="/codelabs">Codelabs</a></li>
      <li><a href="/tutorials/layout/">Construyendo layouts - Tutorial</a></li>
      <li><a href="/tutorials/interactive/">Agregando interactividad - Tutorial</a></li>
      <li><a href="/web-analogs/">Flutter para Web devs</a></li>
      <li><a href="/flutter-for-android/">Flutter para Android devs</a></li>
      <li><a href="/flutter-for-ios/">Flutter para iOS devs</a></li>
      <li><a href="/flutter-for-react-native/">Flutter para React Native devs</a></li>
      <li><a href="/flutter-for-xamarin-forms/">Flutter para Xamarin.Forms devs</a></li>
      <li><a href="/gestures/">Gestos</a></li>
      <li><a href="/animations/">Animaciones</a></li>
      <li><a href="/layout/">Box constraints</a></li>
      <li><a href="/assets-and-images/">Recursos e imágenes</a></li>
      <li><a href="/tutorials/internationalization">Internacionalización</a></li>
      <li><a href="/accessibility">Accesibilidad</a></li>
    </ul>

  <li class="sidebar-title">Usa APIs y SDK del dispositivo</li>

    <ul class="sidebar-items">
      <li><a href="/using-packages/">Usando paquetes</a></li>
      <li><a href="/developing-packages/">Desarrollando paquetes</a></li>
      <li><a href="/platform-channels/">Código específico de la plataforma</a></li>
      <li><a href="/json/">JSON y serialización</a></li>
      {% comment %}
      <!-- Temporarily removed because the codelab is broken and possibly
           about to be replaced by a completely new one. -->
      <li><a href="https://codelabs.developers.google.com/codelabs/flutter-firebase/index.html#0">Firebase para Flutter - Laboratorio</a></li>
      {% endcomment %}
    </ul>

  <li class="sidebar-title">Desarrollo y herramientas</li>

    <ul class="sidebar-items">
      <li><a href="/using-ide/">Utilizando Flutter IDEs</a></li>
      <li><a href="/hot-reload/">Usando hot reload</a></li>
      <li><a href="/testing/">Prueba tu app</a></li>
      <li><a href="/debugging/">Depura tu app</a></li>
      <li><a href="/ui-performance/">Perfiles de rendimiento</a></li>
      <li><a href="/inspector/">Inspecciona tu UI</a></li>
      <li><a href="/android-release/">Build y release para Android</a></li>
      <li><a href="/ios-release/">Build y release para iOS</a></li>
      <li><a href="/fastlane-cd/">Despliegue continuo (CD) con Fastlane</a></li>
      <li><a href="/upgrading/">Actualiza tu instalación de Flutter</a></li>
      <li><a href="/formatting/">Formatea tu código fuente</a></li>
    </ul>

  <li class="sidebar-title">Más detalles</li>

    <ul class="sidebar-items">
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/technical-overview">Resumen técnico</a></li>
      <li><a href="https://docs.google.com/presentation/d/1B3p0kP6NV_XMOimRV09Ms75ymIjU5gr6GGIX74Om_DE/edit?usp=sharing">Presentación de la magia de Flutter</a></li>
      <li><a href="https://docs.google.com/presentation/d/1cw7A4HbvM_Abv320rVgPVGiUP2msVs7tfGbkgdrTy0I/edit?usp=sharing">Diagramas de arquitectura</a></li>
      <li><a href="https://www.youtube.com/watch?v=dkyY9WCGMi0">Framework de diseño en capas <i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com/watch?v=UUfXWzp0-DU">Representación de pipeline en Flutter <i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
    </ul>

</ul>
