name: pigeon_examples
description: Examples showing how to use pigeon for platform integration.

publish_to: none

version: 1.0.0+1

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  pigeon: ^26.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
