name: fading_in_images
description: Example for fading_in_images cookbook recipe

publish_to: none

version: 1.0.0+1

resolution: workspace
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  transparent_image: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
