#animation_1_play_button_ {
  position: absolute;
  width: 464px;
  height: 192px;
  z-index: 100000;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  background-image: url("/images/play_button.svg");
}