body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: bs-spacer(12);
}

h2 {
  margin: bs-spacer(12) 0 bs-spacer(8);
}

h3 {
  margin: bs-spacer(8) 0 bs-spacer(4);
}

dd {
  margin-bottom: .75rem;
}

a.card {
  color: inherit;

  .card-title { color: $site-color-primary; }

  &:hover {
    $border-height: 0.25rem;

    border-bottom: $border-height solid $site-color-primary;
    text-decoration: none;

    .card-body {
      padding-bottom: $card-spacer-x - $border-height;
    }
  }
}

.card-title {
  font-family: $site-font-family-alt;
  font-size: $font-size-lg;
  margin-bottom: bs-spacer(2);
}

.btn {
  font-family: $site-font-family-alt;
}

.fixed-col {
  @include media-breakpoint-up(md) {
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: $site-header-height;
  }
}

.material-icons {
  font: $site-font-icon;
}
