
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: inherit;
  }

}

// used for homepage for widget catalog
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px -0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 180px;
  padding: 24px;
  border: solid transparent;
  border-bottom-color: $brand-color;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  a {
    text-decoration: underline;
  }

  .catalog-category-title a {
    text-decoration: none;
  }
}

.cards__item {
  display: flex;
  padding: 0 0 16px 0;
  margin-right: 16px;
}

.card__image {
  background: no-repeat center center;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.scrollable-description {
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.catalog {
  .catalog-entry svg {
    width: 100%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    text-align: center;
  }

  h3{
    margin-top: 10px;
  }

  a{
    color: $brand-color;
  }

  .catalog-entry .catalog-image-holder {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
  }

  .catalog-entry img {
    display: block;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  div.clear {
    clear: both;
  }

  div.catalog-entry {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px -0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    min-width: 300px;
  }
}

.card-action {
  position:absolute;
  bottom: 24px;
  font-weight: 600;
  color: $brand-color;

  a {
    text-decoration: none;
  }
}
