.clock {
  background-color: $flutter-color-dark-blue;
  font-family: $site-font-family-alt;

  .countdown-container {
    margin: 60px auto 234px;
    padding: 0;
    text-align: center;
  }

  .heading {
    color: $site-color-white;
    font-size: 18px;
    margin: 152px 0 40px;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      margin: 304px 0 56px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      margin: 192px 0 88px;
    }
  }

  .time-number {
    color: $site-color-primary;
    font-size: 58px;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: 110px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 160px;
    }

    @include media-breakpoint-up(xl) {
       font-size: 200px;
     }

    @include media-breakpoint-up(xxl) {
      font-size: 230px;
    }
  }
}
