.clock {
  $clock-color-dark: #212c34;
  $clock-color-blue: #01579b;
  $clock-color-light-blue: #aecbfa;
  $clock-color-light-grey: #f8f9fa;
  $clock-color-grey: #555;
  $color-code-block: #252525;

  color: $clock-color-grey;
  font-family: $site-font-family-alt;
  font-size: 18px;

  &__center-block {
    text-align: center;
    margin-bottom: 1.5rem;

    img {
      width: 100%;
    }
  }

  &__category-winner {
    margin-top: 3rem;

    @include media-breakpoint-up(md) {
      h3 {
        font-size: 1.9rem;
      }
    }
  }

  &__link-lightblue {
    color: #60CAF6;

    &:hover {
      color: #60CAF6;
    }
  }

  // Background texture shared by all sections
  &__texture {
    height: 100%;
    margin-left: calc(50% - 50vw);
    position: absolute;
    width: 100vw;
  }

  // Common styles for clock sections
  &__section {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  // Styles for section clock__hero
  &__hero {
    background-color: $clock-color-dark;
    color: $site-color-white;
    padding-bottom: 104px;
    position: relative;
    text-align: center;

    .heading {
      font-size: 32px;
      margin: 120px 27px 40px 27px;
    }

    .youtube-link, .twitter-link, .results-link {
      color: $twitter-color;
      margin-left: 12px;

      i {
        margin-right: 5px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .twitter-link {
      display: inline-block;
      margin-bottom: 8px;
    }

    &__texture {
      background-color: $clock-color-dark;
      background-image: asset_url('clock/hero/hero-circle.svg'),
                        asset_url('clock/hero/hero-clock.svg'),
                        asset_url('clock/hero/hero-diamond.svg'),
                        asset_url('clock/hero/hero-dots.svg'),
                        asset_url('clock/hero/hero-oval.svg');
      background-repeat: no-repeat;
      background-position: top 61px right -220px, bottom -50px right -80px, bottom -50px left -200px, top -30px center,top 100px left -250px;
      background-size: 320px, 280px, 270px, 90px, 310px;
    }

    @include media-breakpoint-up(sm) {
      .heading {
        font-size: 38px;
      }
    }

    @include media-breakpoint-up(md) {
      &__texture {
        background-position: top 43px right -70%, bottom 20px right -20px, bottom -30% left 30px, top -40px center,top 30px left -60%;
        background-size: 55%, 30%, 25%, 14%, 50%;
      }
    }

    @include media-breakpoint-up(lg) {
      .heading {
        font-size: 72px;
        margin: 120px auto 40px;
        max-width: 642px;
      }

      &__texture {
        background-position: top 43px right -20px, bottom 74px right -20px, bottom -30px left 200px, top -40px center,top 30px left -20px;
        background-size: 35%, 25%, 18%, 11%, 30%;
      }
    }

    @include media-breakpoint-up(xl) {
      &__texture {
        background-size: 30%, 22%, 15%, 8%, 25%;
      }
    }

    @media screen and (min-width: 1800px) {
      &__texture {
        background-size: 30%, 20%, 10%, 5%, 15%;
      }
    }
  }

  // Styles for section clock__wtm (What to make)
  &__wtm {
    position: relative;

    &__texture {
      background-color: $site-color-white;
      background-image: asset_url('clock/wtm__background-bottom.svg'), asset_url('clock/wtm__background-top.svg');
      background-position: right top 200px, left top 50px;
      background-repeat: no-repeat;
      background-size: 25%, 35%;
    }

    &_container {
      margin: 80px 0;
    }

    @include media-breakpoint-up(sm) {
      &__texture {
        background-position: right top 450px, left top 50px;
        background-size: 15%, 25%;
      }
    }

    @include media-breakpoint-up(lg) {

      &_container {
        margin: 100px 0;
      }

      &__texture {
        background-position: top 520px right, left top 100px;
        background-size: initial;
      }
    }
  }

  // Styles for wtm copy
  &__wtm-copy {
    .subheading {
      color: $clock-color-dark;
      font-size: 24px;
      margin: 40px 0 24px;
    }

    .paragraph {
      font-size: 16px;
    }

    .paragraph-conditions {
      font-family: $site-font-family-base;
      font-size: 14px;
      margin: 0;
    }

    @include media-breakpoint-up(sm) {
      .subheading {
        font-size: 32px;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;

      .subheading {
        font-size: 56px;
        margin: 0 0 24px;
      }

      .paragraph {
        font-size: 20px;
      }
    }
  }

  // Styles for wtm entries
  &__wtm-entries {
    margin-top: 80px;

    &_container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 64px;
    }

    .heading {
      color: $clock-color-dark;
      font-size: 20px;
      line-height: 32px;
      margin: 0 auto 40px;
      max-width: 630px;
      text-align: center;
    }

    .card {
      background-color: #F8F9FA;
      border: none;
      border-radius: 8px;
      height: 40vw;
      margin-bottom: 16px;
      width: 48%;

      &:nth-of-type(4), &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }

    .entries__card-body {
      position: relative;
      padding: 24px 16px;

      .paragraph {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
      }

      .fas {
        bottom: 16px;
        left: 16px;
        position: absolute;
        width: 34px;
      }
    }

    @include media-breakpoint-up(sm) {
      .heading {
        font-size: 24px;
      }

      .card {
        height: 135px;
        width: 22%;
      }

      .entries__card-body {
        .fas {
          width: 41px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: 72px;

      &_container {
        flex-wrap: initial;
        margin-bottom: 80px;
        justify-content: center;
      }

      .heading {
        font-size: 32px;
        line-height: 40px;
        margin: 0 auto 88px;
      }

      .card {
        height: 190px;
        margin-bottom: 0;
        width: 190px;
        margin-right: 28px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .entries__card-body {
        padding: 24px;

        .paragraph {
          font-size: 20px;
          margin-bottom: 50px;
        }

        .fas {
          bottom: 24px;
          left: 24px;
          position: absolute;
          width: 48px;
        }
      }
    }
  }

  &__wtm-logos {
    .logos-heading {
      font-size: 16px;
      margin-bottom: 24px;
    }

    .logos-container {
      text-align: center;
    }

    .wtm-logo {
      max-height: 35px;
      display: block;
      margin: 45px auto 0;

      @include media-breakpoint-up(md) {
        display: inline;
        margin: 0 30px;

        &:first-of-type {
          max-height: 30px;
        }

        &:last-of-type {
          max-height: 20px;
        }
      }
    }
  }

  // Shared styles for the winners sections, higlight reel
  &__row {
    padding: 3rem 0;
  }

  &__reel {
    padding-top: 3rem;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }

  // Styles for section clock__prizes
  &__prizes {
    background-color: $clock-color-blue;
    color: $site-color-white;
    font-family: $site-font-family-base;
    position: relative;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    hr {
      background-color: $clock-color-light-blue;
      margin: 40px 0;
      width: 100%;
    }

    &_container {
      margin: 80px 0;
    }

    &_image {
      margin-bottom: 40px;
    }

    &__texture {
      background-color: $clock-color-blue;
      background-image: asset_url('clock/prizes__background.svg');
      background-position: right 50px top 150px;
      background-repeat: no-repeat;
    }

    .prizes-text {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 16px;
    }

    .subheading {
      font-size: 20px;
      margin: 8px 0;
    }

    .paragraph {
      font-size: 14px;
      margin-bottom: 24px;
    }

    .info-paragraph {
      font-size: 14px;
      margin-bottom: 0;
    }

    &__texture {
      background-color: $clock-color-blue;
      background-image: asset_url('clock/prizes__background.svg');
      background-position: right 20px top 25px;
      background-repeat: no-repeat;
      background-size: 90%, 100%;
    }

    .prize-link {
      color: $site-color-white;
      text-decoration: underline;
    }

    @include media-breakpoint-up(sm) {
      &_container {
        margin: 160px 0 80px;
      }

      .prizes-text {
        font-size: 20px;
      }

      .subheading {
        font-size: 24px;
      }
    }

    @include media-breakpoint-up(lg) {

      &_container {
        margin: 160px 0;
      }

      &_image {
        padding-top: 126px;
      }

      &__texture {
        background-position: right 50px top 150px;
        background-size: inherit;
      }

      .prizes-text {
        font-size: 20px;
      }

      .subheading {
        font-size: 40px;
        margin: 24px 0;
      }

      .paragraph {
        font-size: 20px;
        margin-bottom: inherit;
      }

      .info-paragraph {
        font-size: 18px;
      }

      hr {
        margin: 56px 0;
      }
    }
  }

  //clock alert
  &__closed{
    padding-bottom: 0;
    font-size: 1.25rem;
    &__texture{
      background-color: $flutter-color-dark-blue;
      background-image: none;
    }
    &__text{
      font-family: $site-font-family-alt;
      margin: 1.25rem;
    }
  }
  
  // Styles for section clock__getting (Getting Started)
  &__getting {
    ol {
      padding-left: 16px;
    }

    li {
      font-size: 16px;
      font-weight: 500;
      padding: 16px 0;
      word-break: break-word;
    }

    &_container {
      margin: 80px 0;
    }

    .subheading {
      color: $clock-color-dark;
      font-size: 24px;
      margin: 0 0 16px 0;
    }

    .paragraph {
      font-family: $site-font-family-base;
      font-size: 14px;
      margin-bottom: 24px;
    }

    .sub-item {
      font-family: $site-font-family-base;
      font-size: 14px;
      font-weight: normal;
      padding: 8px 0;

      .sub-item {
        list-style-type: circle;
      }
    }

    .sub-item:last-child {
      padding-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      .subheading {
        font-size: 32px;
      }

      .sub-item {
        font-size: 16px;
      }
    }

    @include media-breakpoint-up(lg) {

      .subheading {
        font-size: 56px;
      }

      .paragraph {
        font-size: 18px;
      }

      li {
        font-size: 20px;
      }

      .sub-item {
        font-size: 18px;
      }
    }
  }

  // Styles for section clock__submit
  &__submit {
    background-color: $clock-color-light-grey;
    color: $clock-color-dark;
    margin: 0 calc(50% - 50vw) 80px calc(50% - 50vw);
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    &_container {
      padding: 80px 16px;
    }

    .subheading {
      font-size: 24px;
      margin: 0 auto 32px;
      text-align: center;
    }

    .submit-app__button {
      font-size: 14px;
      padding: 16px 24px;
    }

    @include media-breakpoint-up(sm) {
      .subheading {
        font-size: 32px;
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 0 0 80px 0;

      &_container {
        padding: 80px;
      }

      .subheading {
        font-size: 48px;
        max-width: 626px;
      }

      .submit-app__button {
        font-size: 18px;
      }
    }
  }

  // Style for submissions
  &__submissions, &__contest {
    font-family: $site-font-family-base;
    position: relative;

    ul {
      padding-left: 18px;
    }

    li {
      font-size: 14px;
      padding: 8px 0;
    }

    hr {
      margin: 40px 0 0;
    }

    .subheading {
      font-size: 20px;
      margin: 0 0 16px;
    }

    .paragraph {
      font-size: 14px;
      margin-bottom: 40px;
    }

    .title {
      font-family: $site-font-family-base;
      font-size: 14px;
      font-weight: 600;
      margin: 40px 0 16px;
    }

    .code-font {
      color: $color-code-block;
      font-family: $site-font-family-courier;
    }

    @include media-breakpoint-up(sm) {
      .subheading {
        font-size: 24px;
      }
    }

    @include media-breakpoint-up(lg) {
      li {
        font-size: 18px;
      }

      .subheading {
        font-size: 32px;
      }

      .paragraph {
        font-size: 18px;
      }

      .title {
        font-size: 18px;
        margin: 0;
      }
    }
  }

  // Style for contest
  &__contest {
    padding-top: 48px;
  }

  // Styles for section clock__faqs
  &__faqs {
    margin-top: 80px;
    position: relative;

    &__texture {
      background-color: $clock-color-light-grey;
    }

    &_container {
      padding: 80px 0;

      .faqs_button {
        align-items: center;
        color: $clock-color-grey;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        user-select: text;
        width: 100%;
      }

      .faqs_card {
        &:last-of-type {
          .card-header {
            border-bottom: 1px solid rgba(85, 85, 85, 0.2);
          }
        }
      }

      .faqs_card-header {
        background-color: transparent;
        border-bottom: 0;
        border-top: 1px solid rgba(85, 85, 85, 0.2);
        border-radius: 0;
        padding: 17px 0;
      }
    }

    .subheading {
      color: $clock-color-dark;
      font-size: 24px;
      margin: 0 0 40px;
    }

    .faq__card-body {
      font-family: $site-font-family-base;
      font-size: 14px;
      padding: 0 24px 24px 0;
    }

    @include media-breakpoint-up(sm) {
      .subheading {
        font-size: 32px;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;

      .subheading {
        font-size: 56px;
      }

      .faq__card-body {
        font-size: 18px;
      }
    }
  }

  //dropdown button
  .dropdown__button {
    box-shadow: none;

    &:focus {
      outline: 1px dotted #212121;
      outline: 1px auto -webkit-focus-ring-color;
    }
  }

  .code-font {
    color: $color-code-block;
    font-family: $site-font-family-courier;
  }

  .dropdown__button[aria-expanded="true"] {
    i {
      transform: rotate(180deg);
    }
  }

  .no-list-style {
    list-style: none;
    margin-left: -16px;
  }

  .jump-hook {
    position: absolute;
    top: -80px;

    &#contest {
      top: -40px;
    }
  }

  &__honorable-mentions {
    columns: 300px 3;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
