.clock {
  background-color: $flutter-color-dark-blue;
  font-family: $site-font-family-alt;

  .countdown-container {
    margin: 60px auto 234px;
    padding: 0;
    text-align: center;
  }

  .heading {
    color: $site-color-white;
    font-size: 18px;
    margin: 152px 0 40px;
    text-align: center;
  }

  .time-number {
    color: $site-color-primary;
    font-size: 58px;
    margin: 0;
  }
}
