.site-content {
  padding-bottom: $site-content-top-padding;
  padding-top: $site-content-top-padding;

  @include media-breakpoint-up(md) {
    border-left: 1px solid $site-color-light-grey;
  }

  &__title {
    @at-root {
      #page-github-links {
        @include float-right;
        .btn { padding: 0 ($btn-padding-x / 2); }
      }
    }
  }
}
