.create {
  h4 {
    margin-bottom: bs-spacer(8);
  }

  &__row {
    padding: bs-spacer(12) 0;
  }

  &__deadline {
    color: $flutter-color-fuchsia;
  }

  &__criteria {
    display: block;
    list-style: none;
    padding: 0;
    @include media-breakpoint-up(sm) {
      columns: 2;
    }

    li {
      font-size: 1.25rem;
      @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
      }
    }
  }

  &__text-columns {
    @include media-breakpoint-up(sm) {
      columns: 2;
    }
  }

  &__prizes {
    &__image {
      align-items: flex-end;
      display: flex;
      height: 226px;
      margin-bottom: bs-spacer(4);

      img {
        width: 100%;
      }
    }

    h3 {
      font-size: 1.6rem;
      margin-bottom: bs-spacer(1);
      margin-top: bs-spacer(4);
    }
  }
}
