.homepage {
  &__hero {
    $hero-animation-in-duration: 1s;
    $hero-animation-in-stagger: .4s;
    $hero-animation-out-duration: .8s;
    $hero-animation-out-stagger: .2s;
    $hero-animation-ease: ease-in-out;
    $hero-animation-fill-mode: both;
    @include reset-carousel-animation;

    padding: 40px 0;
    position: relative;

    &__phone-bezel {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: auto;
      z-index: $hero-phone-z;
    }

    .carousel-inner {
      overflow: visible;
    }

    .carousel-item {
      $transition-duration: $hero-animation-out-duration + ($hero-animation-out-stagger * 5);
      overflow: visible;
      transition: transform $transition-duration; // bootstrap grabs this value to determine the slide's transition duration
    }

    &__slide {
      height: 300px;
      position: relative;

      @include media-breakpoint-up(sm) {
        height: 400px;
      }
      @include media-breakpoint-up(md) {
        height: 500px;
      }
      @include media-breakpoint-up(lg) {
        height: 600px;
      }

      &--beautiful {
        .homepage__hero__image--layer-1 {
          height: 65%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .homepage__hero__image--layer-2 {
          height: 75%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .homepage__hero__image--layer-3 {
          height: 65%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.active:not(.transition-out) {
        .homepage__hero__image--layer-1 {
          animation: $hero-animation-in-duration $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
        }
        .homepage__hero__image--layer-2 {
          $delay: $hero-animation-in-stagger;
          animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
        }
        .homepage__hero__image--layer-3 {
          $delay: $hero-animation-in-stagger * 2;
          animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
        }
        .homepage__hero__image--layer-4 {
          $delay: $hero-animation-in-stagger * 3;
          animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
        }
        .homepage__hero__image--layer-5 {
          $delay: $hero-animation-in-stagger * 4;
          animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
        }
        .homepage__hero__text {
          $delay: $hero-animation-in-stagger * 5;
          animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-in;
          .color-white {
            animation: $hero-animation-in-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-text-in;
          }
        }
      }

      &.active.transition-out {
        .homepage__hero__text {
          animation: $hero-animation-out-duration $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
        .homepage__hero__image--layer-1 {
          $delay: $hero-animation-out-stagger;
          animation: $hero-animation-out-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
        .homepage__hero__image--layer-2 {
          $delay: $hero-animation-out-stagger * 2;
          animation: $hero-animation-out-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
        .homepage__hero__image--layer-3 {
          $delay: $hero-animation-out-stagger * 3;
          animation: $hero-animation-out-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
        .homepage__hero__image--layer-4 {
          $delay: $hero-animation-out-stagger * 4;
          animation: $hero-animation-out-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
        .homepage__hero__image--layer-5 {
          $delay: $hero-animation-out-stagger * 5;
          animation: $hero-animation-out-duration $delay $hero-animation-ease $hero-animation-fill-mode hero-layer-out;
        }
      }
    }

    &__image {
      position: absolute;
      width: auto;

      &--layer-1 {
        z-index: $hero-layer-1-z;
      }
      &--layer-2 {
        z-index: $hero-layer-2-z;
      }
      &--layer-3 {
        z-index: $hero-layer-3-z;
      }
      &--layer-4 {
        z-index: $hero-layer-4-z;
      }
      &--layer-5 {
        z-index: $hero-layer-5-z;
      }
    }

    &__text {
      color: $site-color-primary;
      left: 50%;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      z-index: $hero-text-z;
      @include media-breakpoint-up(sm) {
        font-size: 64px;
      }
      @include media-breakpoint-up(md) {
        font-size: 84px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 100px;
      }

      .color-white {
        color: $site-color-white;
        display: inline-block;
      }
    }
  }

  &__platforms {
    margin-bottom: 40px;
  }

  &__intro{
    font-family: $site-font-family-alt;
    font-size: 1.5rem;
    line-height: 2.125rem;
    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
    }

    &__partner {
      font-size: 1.25rem;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }

    &__statement {
      margin: bs-spacer(8) 0;
      @include media-breakpoint-up(md) {
        margin: bs-spacer(12) 0;
      }
    }

    &__buttons {
      align-items: center;
      display: flex;
      flex-direction: column;

      a,
      button {
        &:not(:last-child) {
          margin-bottom: bs-spacer(4);
        }
      }
    }
  }

  &__icon {
    align-items: center;
    background-color: $flutter-color-light-blue;
    border-radius: 50%;
    color: $site-color-primary;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-bottom: bs-spacer(4);
    overflow: hidden;
    width: 48px;
    @include media-breakpoint-up(md) {
      height: 68px;
      width: 68px;
    }

    img {
      max-width: 50%;
    }
  }

  &__key-point {
    @include media-breakpoint-down(md) {
      &:not(:last-of-type) {
        margin-bottom: bs-spacer(12);
      }
    }

    p {
      margin-bottom: 0;
    }

    .homepage__icon {
      margin: 0 auto bs-spacer(8);
    }
  }

  &__card-graphic {
    margin-bottom: bs-spacer(5);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &--fill {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }

    &__logo-row {
      &:not(:last-child) {
        margin-bottom: bs-spacer(12);
      }
    }
  }

  &__beautiful-uis {
    .homepage__card-graphic {
      position: relative;
    }

    &__app-info {
      text-align: center;
      margin-bottom: bs-spacer(4);

      @include media-breakpoint-up(sm) {
        bottom: 0;
        position: absolute;
        right: bs-spacer(6);
        text-align: center;
      }
    }
  }

  &__use-cases {
    .homepage__card-graphic {
      align-items: center;
      display: flex;
    }
  }

  &__news {
    .card .card-body {
      padding: 20px;
      @include media-breakpoint-up(lg) {
        padding: 40px;
      }
    }
  }
}

@keyframes hero-layer-in {
  0% { opacity: 0; transform: translate(-50%, -50%) translateY(50px); }
  100% { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes hero-text-in {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes hero-layer-out {
  0% { opacity: 1; transform: translate(-50%, -50%); }
  100% { opacity: 0; transform: translate(-50%, -50%) translateY(50px); }
}
