.landing-page {
  background-color: $site-color-codeblock-bg;

  h2 {
    font-size: 2rem;
    margin-top: 0;
    @include media-breakpoint-up(lg) {
      font-size: 2.25rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.75rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 0;
    @include media-breakpoint-up(lg) {
      font-size: 1.75rem;
    }
  }

  .alert-info {
    margin-top: bs-spacer(10);
    margin-bottom: bs-spacer(10);
  }

  .card {
    margin-bottom: bs-spacer(8);

    .card-body {
      padding: 40px 20px;
      @include media-breakpoint-up(md) {
        padding: 40px;
      }
      @include media-breakpoint-up(lg) {
        padding: 60px;
      }
      @include media-breakpoint-up(xl) {
        padding: 80px;
      }
    }
  }

  .btn {
    font-weight: 500;
    padding: bs-spacer(3) bs-spacer(12);
  }

  &__hero {
    background-color: $site-color-black;
    left: 50%;
    margin-bottom: 40px;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 75vh;
    padding: 40px 0;
    position: relative;
    right: 50%;
    width: 100vw;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
      min-height: 640px;
      padding: 80px 0;
    }

    .card .card-body {
      padding: bs-spacer(6);
    }
  }

  &__cta {
    &__headline {
      margin-bottom: bs-spacer(2);
      @include media-breakpoint-up(md) {
        margin-bottom: bs-spacer(4);
      }
    }

    &__body {
      font-size: 1.25rem;
      @include media-breakpoint-up(md) {
        font-size: 1.35rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }

    &__button {
      margin-top: bs-spacer(4);
      @include media-breakpoint-up(md) {
        margin-top: bs-spacer(8);
      }
    }
  }
}
