//=
//=  Temporary config necessary only to match the former (2018Q1) site design
//=

ul#mysidebar {
  list-style: none;
  // li { display: block; }
}

//=
//= Lavish-bootstrap compatibility
//=

.alert { padding: 15px; }

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.col-md-9 { max-width: none; } // Used, e.g., in Showcase

// Lavish-bootstrap didn't have container-fluid, so undo BS3's added padding
.container-fluid { padding: 0; }

.lavish-row {
  @extend .row;
  display: block;
}

//== Typography

$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace !default;  // Match Lavish settings
