//=
//=  Temporary config necessary only to match the former (2018Q1) site design
//=

// Also see _bootstrap_config.scss for parameters that must be set before
// bootstrap is imported.

ul#mysidebar {
  list-style: none;
  // li { display: block; }
}

//=
//= Lavish-bootstrap compatibility
//=

.alert { padding: 15px; }

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.col-md-9 { max-width: none; } // Used, e.g., in Showcase

// Lavish-bootstrap didn't have container-fluid, so undo BS3's added padding
.container-fluid { padding: 0; }

.lavish-row {
  @extend .row;
  display: block;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #444;
  background-color: #f0f0f0;
  white-space: nowrap;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

//== Typography

$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace !default;  // Match Lavish settings
