.showcase {
  &__carousel {
    @include reset-carousel-animation;

    &__slide {
      background-position: center center;
      background-size: cover;
      min-height: 75vh;
      padding: 40px 0;
      position: relative;
      @include media-breakpoint-up(md) {
        min-height: 640px;
        padding: 80px 0;
      }
    }
  }
}
