.site-sidebar {
  padding-bottom: $site-content-top-padding;
  padding-top: $site-content-top-padding;

  // Customization for sidebar in mobile nav
  &.site-sidebar--header {
    padding-left: bs-spacer(2);
    padding-top: 0;

    > .nav > .nav-item {
      font-size: $font-size-base;
    }

    > .nav > .nav-item,
    > .nav > .nav > .nav-item,
    > .nav > .nav > .nav > .nav-item {
      .nav-link {
        padding-bottom: bs-spacer(2);
        padding-top: bs-spacer(2);
      }
    }
  }

  .nav-link {
    padding: 6px 0;
    position: relative;

    .disabled { color: $btn-link-disabled-color; }
  }

  // Top-level nav item
  > .nav > .nav-item {
    font-family: $site-font-family-alt;
    font-size: $font-size-lg;

    > .nav-link {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: bs-spacer(1);
      padding: bs-spacer(3) 0;

      &::after {
        content: 'keyboard_arrow_down';
        font: $site-font-icon;
        transition: transform .25s ease-in-out;
      }

      &:not(.collapsed) {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  // Second-level nav item
  > .nav > .nav-item > .nav > .nav-item {
    font-size: $font-size-sm;

    .nav-link {
      color: $site-color-body-light;
      margin-left: bs-spacer(4);

      &.active { font-weight: $font-weight-bold; }
    }
  }

  // Third-level nav item
  > .nav > .nav-item > .nav > .nav-item > .nav > .nav-item {
    font-size: $font-size-sm;

    .nav-link {
      border-left: 1px solid $site-color-light-grey;
      color: $site-color-body-light;
      margin-left: bs-spacer(4);
      padding-left: bs-spacer(4);

      &.active {
        border-color: $site-color-primary;
        color: $site-color-primary;
      }
    }
  }
}
