//
// Subnav styles (from site-www)
//
// TODO: As a first cut, the following styles were copied from site-www. Review,
// in particular, adjust dimensions (that are currently in px).
//

#subnav {
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      width: 49%;
      a {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
      }
      &.next {
        float: right;
        text-align: right;
      }
    }
  }
}

// Subnav prev/next link tweaks for when the view is narrow and link text word wraps.

#subnav {
  ul {
    li {
      display: flex;
      white-space: nowrap;
      a {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline;
      }
      &.previous {
        float: left;
      }
      &.previous:before {
        display: inline;
        color: $primary;
        content: "\2329"; // &lang;
      }
      &.next {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
      &.next:after {
        display: inline;
        color: $primary;
        content: "\232A"; // &rang;
      }
    }
  }
}