.flutter-toc {
  padding-top: $flutter-content-top-padding;

  .nav-item {
    font-size: 14px;

    .nav-link {
      color: $flutter-color-body-light;
      line-height: 26px;
      padding: 0;
    }
  }

  &__title {
    font-family: $flutter-font-family-alt;
    font-size: 20px;
    margin-bottom: 8px;
  }
}
