// Colors
$flutter-color-blue-500: #1389FD;
$flutter-color-white: #FFF;
$flutter-color-light-grey: #D8D8D8;
$flutter-color-nav-links: #6E7274;
$flutter-color-body: #4A4A4A;
$flutter-color-body-light: rgba(74/255, 74/255, 74/255, .8);
$flutter-color-footer: #303c42;

// Fonts
$flutter-font-family-base: 'Roboto', sans-serif;
$flutter-font-family-alt: 'Google Sans', 'Roboto', sans-serif;
$flutter-font-family-icon: 'Material Icons';
$flutter-font-icon: 24px/1 $flutter-font-family-icon;

// Layout
$flutter-header-height: 66px;
$flutter-content-top-padding: 40px;
$flutter-nav-mobile-side-padding: 20px;

// Layer stack
$flutter-z-header: 100;
