// Colors
$flutter-color-blue-500: #1389FD;
$flutter-color-white: #FFF;
$flutter-color-nav-links: #6E7274;
$flutter-color-body: #4A4A4A;
$flutter-color-body-light: rgba(74/255, 74/255, 74/255, .8);

// Fonts
$flutter-font-family-base: 'Roboto', sans-serif;
$flutter-font-family-alt: 'Google Sans', 'Roboto', sans-serif;

// Layout
$flutter-header-height: 66px;
$flutter-content-top-padding: 40px;

// Layer stack
$flutter-z-header: 100;
