name: react_native_devs
description: A new Flutter project.

publish_to: none
version: 1.0.0+1

resolution: workspace
environment:
  sdk: ^3.8.0

workspace:
  - my_widgets

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.4.0
  google_sign_in: ^6.3.0
  shared_preferences: ^2.5.3
  my_widgets:
    path: my_widgets

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
