name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

# Declare default permissions as read only.
permissions: read-all

env:
  NODE_VERSION: 22

jobs:
  test:
    name: Analyze and test code examples
    runs-on: ubuntu-latest
    if: github.repository == 'flutter/website'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Beta channel"
            branch: beta
            experimental: true
          - name: "Stable channel"
            branch: stable
            experimental: false
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
          channel: ${{ matrix.branch }}
      - name: Fetch Dart dependencies
        run: dart pub get
        continue-on-error: ${{ matrix.experimental }}
      - name: Check Dart code formatting
        run: dart run flutter_site format-dart --check
        continue-on-error: ${{ matrix.experimental }}
      - name: Analyze Dart code
        run: dart run flutter_site analyze-dart
        continue-on-error: ${{ matrix.experimental }}
      - name: Run Dart tests
        run: dart run flutter_site test-dart
        continue-on-error: ${{ matrix.experimental }}

  excerpts:
    name: Check if code excerpts are up to date
    runs-on: ubuntu-latest
    if: github.repository == 'flutter/website'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - name: Fetch Dart dependencies
        run: dart pub get
      - name: Check if excerpts are up to date
        run: dart run flutter_site refresh-excerpts --fail-on-update --dry-run
        continue-on-error: ${{ matrix.experimental }}

  linkcheck:
    name: Build site and check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
      - name: Enable Corepack
        run: npm i -g corepack@latest && corepack enable
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
      - name: Setup pnpm
        run: corepack install
      - name: Install node dependencies
        run: pnpm install --frozen-lockfile
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - name: Fetch Dart dependencies
        run: dart pub get
      - name: Build site
        run: dart run flutter_site build
      - name: Check for broken Markdown link references
        run: dart run flutter_site check-link-references
      - name: Check for broken internal links
        run: dart run flutter_site check-links

  firebase-validate:
    name: Validate Firebase configuration
    runs-on: ubuntu-latest
    if: github.repository == 'flutter/website'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - name: Fetch Dart dependencies
        run: dart pub get
      - name: Validate the firebase.json file
        run: dart run flutter_site verify-firebase-json