---
title: Showcase
description: Apps take flight with Flutter. See how customers are developing beautiful web, desktop, and mobile apps in record time.
layout: landing
show_banner: False
body_class: showcase
---

<section class="showcase__hero showcase__section">
    <h1 class="animate heading step-1">Apps take flight with <span class="highlight-brand">Flutter</span></h1>
    <p class="animate subheading step-2">See how customers are using Flutter to make beautiful apps in record time</p>
</section>

<section class="showcase__featured-company-cases showcase__section">
  <div class="row mb-n8">
    {% for case in site.data.showcases %}
    {% if case.featured %}
      <div class="col-12{% if forloop.index0 < 2 %} col-lg-6{% else %} col-lg-4{% endif %} px-4 mb-8 mb-md-10">
        <div class="card animate{% if forloop.index0 < 2 %} step-{{forloop.index | plus: 2}}{% else %} step-last{% endif %}">
          {% capture image_src_400 %}{% asset '{{ case.card_image | replace: "@", "-400" }}' @path %}{% endcapture %}
          {% capture image_src_600 %}{% asset '{{ case.card_image | replace: "@", "-600" }}' @path %}{% endcapture %}
          {% assign image_src_full_size = image_src_600 %}

          {% unless case.no_1200_image %}
          {% if forloop.index0 < 2 %}
            {% capture image_src_1200 %}{% asset '{{ case.card_image | replace: "@", "-1200" }}' @path %}{% endcapture %}
            {% assign image_src_full_size = image_src_1200 %}
          {% endif %}
          {% endunless %}

          <img class="card-img-top" src="{{ image_src_full_size }}" aria-hidden="true"
               srcset="
                {{ image_src_400 }} 400w,
                {{ image_src_600}} 600w
                {% unless case.no_1200_image %}
                {% if forloop.index0 < 2 %}
                  , {{ image_src_1200 }} 1200w
                {% endif %}{% endunless %}">
          <div class="card-body">
            <div class="card-title">
              {% if case.logo_src %}
                {% asset '{{ case.logo_src }}' class='logo' alt="{{ case.name }}" %}
                {% unless case.logo_has_name %} <span class="name" aria-hidden="true">{{ case.name }}</span>{% endunless -%}
              {% endif %}
            </div>
            <p class="card-text">{{ case.description | truncate: 160 }}</p>
          </div>
          {% if case.play_store_link or case.app_store_link or case.learn_more_link or case.card_video %}
            <div class="card-footer card-footer--transparent card-footer--links">
              {% if case.learn_more_link %}
                <a href="{{ case.learn_more_link }}" class="link" target="_blank" rel="noopener">{{ case.learn_more_cta }}<i class="fas fa-external-link-alt"></i></a>
              {% elsif case.card_video %}
                <a href="#" class="video-link" data-video="{{ case.card_video }}" data-toggle="modal" data-target="#videoModal"><i class="fas fa-play-circle"></i>&nbsp;Watch video</a>
              {% elsif case.play_store_link or case.app_store_link %}
                <span class="dropdown">
                  <a href="#" class="dropdown-toggle" id="featuredShowcasesDropdownMenuButton{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </a>
                  <div class="dropdown-menu" aria-labelledby="featuredShowcasesDropdownMenuButton{{ forloop.index }}">
                    {% if case.play_store_link %}<a class="dropdown-item" href="{{ case.play_store_link }}" target="_blank" rel="noopener">Android</a>{% endif %}
                    {% if case.app_store_link %}<a class="dropdown-item" href="{{ case.app_store_link }}" target="_blank" rel="noopener">iOS</a>{% endif %}
                  </div>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<section class="showcase__logos-garden showcase__section animate step-last">
  <p class="intro">Join the growing list of organizations working with Flutter.</p>
  <div class="row">
    <ul class="logo-list col-12 col-lg-10 d-flex flex-wrap mb-n8">
      {% for logo in site.data.company_logos %}
        <li class="logo-item col-6 col-md-3 mb-8 mb-lg-10">
          {% asset '{{ logo.logo_src  }}' class="logo-image" alt="{{ logo.alt_text }}"%}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="showcase__carousel showcase__section animate step-last">
  {% assign testimonials = site.data.showcases | where: "quote_testimonial", true %}
  <div class="showcase__carousel__texture" style="background-image: url({% asset 'showcase/video-frames/bg_texture.svg' @path %})"></div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <h2 class="showcase__carousel__title">Hear it from the developers</h2>

      <div id="showcaseCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner">
            {% for case in testimonials %}
              <div class="carousel-item{% if forloop.index0 == 0 %} active{% endif %}">
                <div class="showcase__carousel__item">
                  <div class="image">
                    {% capture image_src_400 %}{% asset '{{ case.video_frame_image | replace: "@", "-400" }}' @path %}{% endcapture %}
                    {% capture image_src_800 %}{% asset '{{ case.video_frame_image | replace: "@", "-800" }}' @path %}{% endcapture %}
                    {% capture image_src_1200 %}{% asset '{{ case.video_frame_image | replace: "@", "-1200" }}' @path %}{% endcapture %}
                    <img class="card-img-top" src="{{ image_src_1200 }}" alt=""
                         srcset="{{ image_src_400 }} 400w, {{ image_src_800 }} 800w, {{ image_src_1200 }} 1200w">
                    <button 
                      class="image-button btn btn-primary" 
                      data-video="{{ case.video_id }}" 
                      data-toggle="modal" 
                      data-target="#videoModal">
                      <i class="material-icons" aria-hidden="true">play_circle_filled</i>&nbsp;Watch the video
                    </button>
                  </div>
                  <blockquote class="quote">
                    <p class="copy">{{ case.quote }}</p>
                    <footer class="copy-footer">{{ case.quote_writer }}<cite class="copy-author" title="{{case.name}}">{{case.name}}</cite></footer>
                  </blockquote>
                </div>
              </div>
            {% endfor %}
          </div>
          <ol class="carousel-indicators">
            {% for case in testimonials %}
              <li data-target="#showcaseCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.index0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <a class="carousel-control-prev" href="#showcaseCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#showcaseCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>
</section>

<section class="showcase__company-cases showcase__section animate step-last">
    <h2 class="title">More apps made with Flutter</h2>
    <div class="row mb-n8 mb-md-n10">
        {% for case in site.data.showcases %}
        {% unless case.featured %}
        <div class="col-12 col-md-6 col-xl-3 px-4 mb-8 mb-md-10 showcase__card">
            <div class="card">
                {% capture image_src_400 %}{% asset '{{ case.card_image | replace: "@", "-400" }}' @path %}{% endcapture %}
                {% capture image_src_600 %}{% asset '{{ case.card_image | replace: "@", "-600" }}' @path %}{% endcapture %}
                <img class="card-img-top" src="{{ image_src_600 }}" aria-hidden="true"
                     srcset="{{ image_src_400 }} 400w, {{ image_src_600 }} 600w" >
                <div class="card-body">
                    <div class="card-title">
                        {% if case.logo_src %}
                            {% asset '{{ case.logo_src }}' class='logo' alt="{{ case.name }}" %}
                            {% unless case.logo_has_name %} <span class="name" aria-hidden="true">{{ case.name }}</span>{% endunless -%}
                        {% endif %}
                    </div>
                    <p class="card-text">{{ case.description | truncate: 160 }}</p>
                </div>
                {% if case.play_store_link or case.app_store_link or case.learn_more_link or case.card_video or case.learn_more_dropdown %}
                    <div class="card-footer card-footer--transparent card-footer--links">
                        {% if case.learn_more_link %}<a href="{{ case.learn_more_link }}" class="link" target="_blank" rel="noopener">{{ case.learn_more_cta }}<i class="fas fa-external-link-alt"></i></a>{% endif %}
                        {% if case.card_video %}<a href="#" class="video-link" data-video="{{ case.card_video }}" data-toggle="modal" data-target="#videoModal"><i class="fas fa-play-circle"></i>&nbsp;Watch video</a>{% endif %}
                        {% if case.learn_more_dropdown %}
                            <span class="dropdown">
                                <a href="#" class="dropdown-toggle" id="showcasesLearnMoreDropdownMenuButton{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Learn more
                                </a>
                                <div class="dropdown-menu" aria-labelledby="showcasesLearnMoreDropdownMenuButton{{ forloop.index }}">
                                    {% for learnMoreItem in case.learn_more_links %}
                                        <a class="dropdown-item" href="{{learnMoreItem.link}}" target="_blank" rel="noopener">{{learnMoreItem.link_text}}</a>
                                    {% endfor %}
                                </div>
                            </span>
                        {% endif %}
                        {% if case.play_store_link or case.app_store_link %}
                            <span class="dropdown">
                                <a href="#" class="dropdown-toggle" id="showcasesDropdownMenuButton{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Download
                                </a>
                                <div class="dropdown-menu" aria-labelledby="showcasesDropdownMenuButton{{ forloop.index }}">
                                    {% if case.play_store_link %}<a class="dropdown-item" href="{{ case.play_store_link }}" target="_blank" rel="noopener">Android</a>{% endif %}
                                    {% if case.app_store_link %}<a class="dropdown-item" href="{{ case.app_store_link }}" target="_blank" rel="noopener">iOS</a>{% endif %}
                                </div>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>
    <a class="cta d-block text-center" href="https://itsallwidgets.com" target="_blank" rel="noopener">
        Explore more Flutter-powered apps<i class="fas fa-external-link-alt"></i>
    </a>
</section>

<section class="showcase__learn-more card showcase__section mx-n2 animate step-last">
  <div class="card-body">
    <h2 class="showcase__learn-more__title">Ready to take flight?</h2>
    <a class="showcase__learn-more__cta btn btn-primary btn-cta px-12" href="/docs/get-started/install">Get Started</a>
    <a class="d-block font-weight-bold" href="/docs">Read documentation</a>
  </div>
</section>

<div class="modal fade" data-video-modal id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embedded-video-wrapper">
          <iframe id="video-player-iframe" class="embedded-video-wrapper__frame" width="auto" height="auto"
            src="https://www.youtube.com/embed/jtYk3gWRSw0?cc_lang_pref=en&cc_load_policy=1&enablejsapi=1"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
